n8n/workflows/media/WF-400-media-production.json
{
  "name": "WF-400 Media Production",
  "description": "Parent pack orchestrator for media production child workflows CWF-410..CWF-440.",
  "nodes": [
    {
      "parameters": {},
      "id": "wf400_trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-400', child_order: ['CWF-410','CWF-420','CWF-430','CWF-440'], packet_in: $json.context_engineering_packet || null, status: 'child_chain_ready', timestamp: new Date().toISOString() } }];"
      },
      "id": "wf400_plan",
      "name": "Plan Child Chain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-400', output_packet_family: 'media_production_packet', next_workflow: 'WF-500', status: 'ready_for_pack_handoff', details: $json } }];"
      },
      "id": "wf400_emit",
      "name": "Emit Parent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        280
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Plan Child Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Child Chain": {
      "main": [
        [
          {
            "node": "Emit Parent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "workflow_id": "WF-400",
    "phase": "phase1",
    "pack": "media_production",
    "implementation_depth": "production_grade",
    "vein": "media_production_vein",
    "purpose": "Execute deterministic workflow WF-400 with governance-bound routing.",
    "owner_director": "Durga",
    "next_workflow": "CWF-510",
    "wf900_error_route": "WF-900"
  },
  "active": false,
  "settings": {}
}
