n8n/workflows/script/WF-200-script-intelligence.json
{
  "name": "WF-200 Script Intelligence Pack",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-200', dossier_id: 'sample-dossier-generated', resolved_route: 'ROUTE_PHASE1_STANDARD', pack_status: 'started' } }];"
      },
      "id": "normalize_pack_input",
      "name": "Normalize Pack Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, next_child_workflow: 'CWF-210-script-generation' } }];"
      },
      "id": "prepare_generation_call",
      "name": "Prepare Generation Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-200', output_type: 'script_intelligence_result', next_stage: 'WF-300', status: 'script_pack_ready', details: $json } }];"
      },
      "id": "prepare_pack_result",
      "name": "Prepare Pack Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        990,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Pack Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Pack Input": {
      "main": [
        [
          {
            "node": "Prepare Generation Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Generation Call": {
      "main": [
        [
          {
            "node": "Prepare Pack Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "workflow_id": "WF-200",
    "phase": "phase1",
    "purpose": "Parent pack for script generation, debate, refinement, and final shaping",
    "writes": [
      "namespaces.script",
      "namespaces.runtime",
      "namespaces.approval"
    ],
    "implementation_depth": "production_grade",
    "vein": "script_intelligence_vein",
    "owner_director": "Saraswati",
    "next_workflow": "CWF-210",
    "wf900_error_route": "WF-900"
  },
  "active": false,
  "settings": {}
}
