n8n/workflows/CWF-330.json
{
  "name": "CWF-330 Asset Brief Generator Canonical",
  "description": "Generates downstream asset briefs: thumbnails, visuals, B-roll, captions, audio direction.",
  "nodes": [
    {
      "parameters": {},
      "id": "cwf330_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const platformPackage = $json.platform_package_packet || { payload: { metadata: {} } };\nconst scriptSections = $json.final_script_packet?.payload?.sections || [{ title: 'main', content: 'content summary' }];\nconst assetBrief = {\n  thumbnail_brief: { variants: 3, direction: 'Create 3 visual concepts representing key themes from the content', elements: ['hook_visual', 'text_overlay', 'color_palette'] },\n  broll_cues: scriptSections.map((s, i) => ({ section: s.title, timestamp: i * 30, visual_direction: 'supporting_visuals_for_' + s.title, estimated_duration: '10-20_seconds' })),\n  caption_brief: { language: 'en', requirements: ['speaker_identification', 'sound_effects_noted', 'emphasis_markers'], style: 'professional' },\n  audio_brief: { voiceover_style: 'clear_and_engaging', pacing: 'conversational', music_cues: ['intro_upbeat', 'transitions_smooth', 'outro_resolution'], sound_design: 'minimal_enhancement' }\n};\nreturn [{ json: { ...$json, asset_brief: assetBrief, asset_brief_ready: true } }];"
      },
      "id": "cwf330_asset_brief_generator_node",
      "name": "Asset Brief Generator Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const packet = {\n  instance_id: 'BRIEF-' + Date.now(),\n  artifact_family: 'asset_brief_packet',\n  schema_version: '1.0.0',\n  producer_workflow: 'CWF-330',\n  dossier_ref: $json.dossier_id || 'DOSSIER-UNSPECIFIED',\n  created_at: new Date().toISOString(),\n  status: 'CREATED',\n  payload: {\n    asset_brief_ready: true,\n    thumbnail_brief: $json.asset_brief.thumbnail_brief,\n    broll_cues: $json.asset_brief.broll_cues,\n    caption_brief: $json.asset_brief.caption_brief,\n    audio_brief: $json.asset_brief.audio_brief,\n    total_sections: $json.asset_brief.broll_cues.length\n  }\n};\nreturn [{ json: { ...$json, asset_brief_packet: packet, packet_emitted: true } }];"
      },
      "id": "cwf330_packet_emission_node",
      "name": "Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, cwf330_result: { status: 'COMPLETED', asset_brief_packet: $json.asset_brief_packet } } }];"
      },
      "id": "cwf330_completion_node",
      "name": "Completion Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const SkillLoader = require('../../../engine/skill_loader/skill_loader.js');\n  const loader = new SkillLoader();\n\n  if (!loader.skills_registry || Object.keys(loader.skills_registry).length === 0) {\n    const initResult = await loader.initialize();\n    if (initResult.status !== 'initialized') {\n      throw new Error('Failed to initialize SkillLoader');\n    }\n  }\n\n  const workflowId = 'CWF-330';\n  const defaultSkillMap = {\"CWF-310\":\"M-001\",\"CWF-320\":\"M-001\",\"CWF-330\":\"M-001\",\"CWF-340\":\"M-001\",\"CWF-410\":\"M-001\",\"CWF-420\":\"M-001\",\"CWF-430\":\"M-001\",\"CWF-440\":\"M-001\",\"CWF-510\":\"M-001\",\"CWF-520\":\"M-001\",\"CWF-530\":\"M-001\"};\n  const skillId = $json.skill_id || defaultSkillMap[workflowId] || 'M-001';\n  const dossierId = $json.dossier_context?.dossier_id || $json.dossier_id || 'DOSSIER-UNSPECIFIED';\n\n  const contextPacket = {\n    dossier_id: dossierId,\n    workflow_id: workflowId,\n    ...(typeof $json.user_context === 'object' ? $json.user_context : {}),\n    ...(typeof $json.route_context === 'object' ? $json.route_context : {})\n  };\n\n  const dossierState = typeof $json.dossier === 'object' ? $json.dossier : {};\n  const result = await loader.executeSkill(skillId, contextPacket, dossierState);\n\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: workflowId,\n        skill_id: skillId,\n        status: result.status,\n        had_error: result.status !== 'SUCCESS',\n        error_message: result.status === 'SUCCESS' ? '' : String(result.error || ''),\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: result.status === 'SUCCESS' ? (result.output || null) : null,\n      skill_execution_result: result.status === 'SUCCESS' ? result : null,\n      runtime: {\n        had_error: result.status !== 'SUCCESS',\n        error_message: result.status === 'SUCCESS' ? '' : String(result.error || '')\n      }\n    }\n  }];\n} catch (error) {\n  const message = String(error && error.message ? error.message : error);\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: 'CWF-330',\n        skill_id: null,\n        status: 'ERROR',\n        had_error: true,\n        error_message: message,\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: null,\n      skill_execution_result: null,\n      runtime: { had_error: true, error_message: message }\n    }\n  }];\n}"
      },
      "id": "cwf_330_skill_runtime_probe_node",
      "name": "Skill Runtime Probe Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Skill Runtime Probe Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Brief Generator Node": {
      "main": [
        [
          {
            "node": "Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Packet Emission Node": {
      "main": [
        [
          {
            "node": "Completion Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Node": {
      "main": [
        []
      ]
    },
    "Skill Runtime Probe Node": {
      "main": [
        [
          {
            "node": "Asset Brief Generator Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "workflow_id": "CWF-330",
    "phase": "phase1",
    "vein": "context_vein",
    "purpose": "Asset brief builder.",
    "implementation_depth": "production_grade",
    "owner_director": "narada",
    "next_workflow": "CWF-340",
    "canonical_file": "n8n/workflows/CWF-330.json",
    "wf900_error_route": "WF-900"
  },
  "active": true
}