n8n/workflows/WF-100.json
{
  "name": "WF-100 Topic Intelligence Pack Canonical",
  "description": "Runs Phase-1 topic intelligence lane: discovery → qualification → scoring → research synthesis.",
  "nodes": [
    {
      "parameters": {},
      "id": "wf100_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, dossier_context: { dossier_id: $json.dossier_id || 'DOSSIER-UNSPECIFIED', pack: 'WF-100', loaded_at: new Date().toISOString(), route: $json.route_id || 'ROUTE_PHASE1_STANDARD' } } }];"
      },
      "id": "wf100_dossier_load_node",
      "name": "Dossier Load Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, pack_context: { child_workflows: ['CWF-110-topic-discovery', 'CWF-120-topic-qualification', 'CWF-130-topic-scoring', 'CWF-140-research-synthesis'], primary_director: 'Narada', strategic_authority: 'Krishna', governance_authority: ['Yama', 'Kubera'] } } }];"
      },
      "id": "wf100_pack_initialization_node",
      "name": "Pack Initialization Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const childWorkflows = ['CWF-110', 'CWF-120', 'CWF-130', 'CWF-140'];\nlet executionPlan = { workflows_to_execute: childWorkflows, current_index: 0, status: 'PLANNING', decisions: {} };\nreturn [{ json: { ...$json, execution_plan: executionPlan, pack_orchestration: { started_at: new Date().toISOString(), expected_duration_seconds: 120 } } }];"
      },
      "id": "wf100_execution_planner_node",
      "name": "Execution Planner Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "9aM3CMjyQbaO9XYE",
          "mode": "id",
          "cachedResultName": "CWF-110 Topic Discovery Canonical"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "wf100_execute_cwf110_node",
      "name": "Execute CWF-110 Topic Discovery",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Capture node for cwf110_result\n// $json here = the output of the immediately preceding Execute CWF-110 node\nconst subOutput = $json || {};\n\n// Restore parent context from Execution Planner Node (preserves dossier_id, route_id, pack_context, etc.)\nlet parentCtx = {};\ntry { parentCtx = $('Execution Planner Node').first().json || {}; } catch(e) {}\n\nconst acc = { ...parentCtx };\n\n// Pull prior captures so accumulated state survives across the chain\n\n\n// Add this node's capture\nacc[\"cwf110_result\"] = {\n  status: subOutput.status || 'SUCCESS',\n  payload: subOutput.payload || subOutput,\n  captured_at: new Date().toISOString()\n};\n\nreturn [{ json: acc }];"
      },
      "id": "wf100_capture_cwf110_node",
      "name": "Capture CWF-110 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1330,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "8Nf7TvjLr5kbAyPp",
          "mode": "id",
          "cachedResultName": "CWF-120 Topic Qualification Canonical"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "wf100_execute_cwf120_node",
      "name": "Execute CWF-120 Topic Qualification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Capture node for cwf120_result\n// $json here = the output of the immediately preceding Execute CWF-120 node\nconst subOutput = $json || {};\n\n// Restore parent context from Execution Planner Node (preserves dossier_id, route_id, pack_context, etc.)\nlet parentCtx = {};\ntry { parentCtx = $('Execution Planner Node').first().json || {}; } catch(e) {}\n\nconst acc = { ...parentCtx };\n\n// Pull prior captures so accumulated state survives across the chain\ntry { const c = $('Capture CWF-110 Result').first(); if (c) acc[\"cwf110_result\"] = c.json[\"cwf110_result\"] || c.json; } catch(e) {}\n\n// Add this node's capture\nacc[\"cwf120_result\"] = {\n  status: subOutput.status || 'SUCCESS',\n  payload: subOutput.payload || subOutput,\n  captured_at: new Date().toISOString()\n};\n\nreturn [{ json: acc }];"
      },
      "id": "wf100_capture_cwf120_node",
      "name": "Capture CWF-120 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1830,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "i2bPLxrWTASjJg4f",
          "mode": "id",
          "cachedResultName": "CWF-130 Topic Scoring Canonical"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "wf100_execute_cwf130_node",
      "name": "Execute CWF-130 Topic Scoring",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Capture node for cwf130_result\n// $json here = the output of the immediately preceding Execute CWF-130 node\nconst subOutput = $json || {};\n\n// Restore parent context from Execution Planner Node (preserves dossier_id, route_id, pack_context, etc.)\nlet parentCtx = {};\ntry { parentCtx = $('Execution Planner Node').first().json || {}; } catch(e) {}\n\nconst acc = { ...parentCtx };\n\n// Pull prior captures so accumulated state survives across the chain\ntry { const c = $('Capture CWF-110 Result').first(); if (c) acc[\"cwf110_result\"] = c.json[\"cwf110_result\"] || c.json; } catch(e) {}\n  try { const c = $('Capture CWF-120 Result').first(); if (c) acc[\"cwf120_result\"] = c.json[\"cwf120_result\"] || c.json; } catch(e) {}\n\n// Add this node's capture\nacc[\"cwf130_result\"] = {\n  status: subOutput.status || 'SUCCESS',\n  payload: subOutput.payload || subOutput,\n  captured_at: new Date().toISOString()\n};\n\nreturn [{ json: acc }];"
      },
      "id": "wf100_capture_cwf130_node",
      "name": "Capture CWF-130 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2330,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "2rvNjmctBuBQFw8A",
          "mode": "id",
          "cachedResultName": "CWF-140 Research Synthesis Canonical"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "wf100_execute_cwf140_node",
      "name": "Execute CWF-140 Research Synthesis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2580,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Capture node for cwf140_result\n// $json here = the output of the immediately preceding Execute CWF-140 node\nconst subOutput = $json || {};\n\n// Restore parent context from Execution Planner Node (preserves dossier_id, route_id, pack_context, etc.)\nlet parentCtx = {};\ntry { parentCtx = $('Execution Planner Node').first().json || {}; } catch(e) {}\n\nconst acc = { ...parentCtx };\n\n// Pull prior captures so accumulated state survives across the chain\ntry { const c = $('Capture CWF-110 Result').first(); if (c) acc[\"cwf110_result\"] = c.json[\"cwf110_result\"] || c.json; } catch(e) {}\n  try { const c = $('Capture CWF-120 Result').first(); if (c) acc[\"cwf120_result\"] = c.json[\"cwf120_result\"] || c.json; } catch(e) {}\n  try { const c = $('Capture CWF-130 Result').first(); if (c) acc[\"cwf130_result\"] = c.json[\"cwf130_result\"] || c.json; } catch(e) {}\n\n// Add this node's capture\nacc[\"cwf140_result\"] = {\n  status: subOutput.status || 'SUCCESS',\n  payload: subOutput.payload || subOutput,\n  captured_at: new Date().toISOString()\n};\n\nreturn [{ json: acc }];"
      },
      "id": "wf100_capture_cwf140_node",
      "name": "Capture CWF-140 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2830,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase-2 chain validation: pass if all children returned SUCCESS/COMPLETED.\n// Deeper field validation (e.g. research_synthesis_finalized) is deferred to Phase 3 (state persistence)\n// and Phase 5 (Ollama-backed real outputs).\nconst childResults = {\n  CWF_110: $json.cwf110_result,\n  CWF_120: $json.cwf120_result,\n  CWF_130: $json.cwf130_result,\n  CWF_140: $json.cwf140_result\n};\nconst allHealthy = Object.values(childResults).every(r => r && (r.status === 'SUCCESS' || r.status === 'COMPLETED'));\nconst topicFinalized = $json.cwf140_result && $json.cwf140_result.payload && $json.cwf140_result.payload.research_synthesis_finalized === true;\nconst validationOk = allHealthy; // Phase-2 acceptance: chain healthy is enough\nreturn [{ json: { ...$json, pack_validation: { child_results_aggregated: childResults, all_children_healthy: allHealthy, topic_finalized: topicFinalized, validation_ok: validationOk, route_to_error: !validationOk, phase2_acceptance: 'chain_healthy_required' } } }];"
      },
      "id": "wf100_pack_validation_node",
      "name": "Pack Validation Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    ...$json,\n    dossier_write: {\n      mutation_type: 'namespace_update',\n      target: 'dossier.discovery',\n      timestamp: new Date().toISOString(),\n      writer_id: 'WF-100',\n      pack_context: $json.pack_context,\n      child_results: $json.pack_validation.child_results_aggregated,\n      audit_entry: 'topic-intelligence-pack-completion from WF-100'\n    }\n  }\n}];"
      },
      "id": "wf100_dossier_write_node",
      "name": "Dossier Discovery Write Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3430,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    ...$json,\n    se_route_runs_write: {\n      operation: 'record_pack_execution',\n      pack_id: 'WF-100',\n      dossier_id: $json.dossier_id,\n      child_workflows_executed: ['CWF-110', 'CWF-120', 'CWF-130', 'CWF-140'],\n      execution_status: 'COMPLETED',\n      topic_finalized: $json.pack_validation.topic_finalized,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "wf100_route_runs_write_node",
      "name": "se_route_runs Write Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nconst fs = require('fs');\nconst path = require('path');\n\nconst now = new Date().toISOString();\nconst completion_packet = {\n  instance_id: 'WF-100-COMP-' + Date.now(),\n  artifact_family: 'topic_intelligence_result',\n  schema_version: '1.0.0',\n  producer_workflow: 'WF-100',\n  dossier_ref: $json.dossier_id,\n  created_at: now,\n  status: 'CREATED',\n  payload: {\n    pack_executed: 'WF-100',\n    topic_finalized: $json.pack_validation.topic_finalized,\n    next_workflow: 'WF-200',\n    child_packets: [\"CWF-110_output\",\"CWF-120_output\",\"CWF-130_output\",\"CWF-140_output\"]\n  }\n};\n\nconst repoRoot = 'C:/ShadowEmpire-Git';\nconst dataDir = path.join(repoRoot, 'data');\nconst packetIndexPath = path.join(dataDir, 'se_packet_index.json');\nif (!fs.existsSync(dataDir)) fs.mkdirSync(dataDir, { recursive: true });\n\nlet index = { entries: [], total_entries: 0, last_updated: now };\nif (fs.existsSync(packetIndexPath)) {\n  const parsed = JSON.parse(fs.readFileSync(packetIndexPath, 'utf8'));\n  index = {\n    ...index,\n    ...parsed,\n    entries: Array.isArray(parsed.entries)\n      ? parsed.entries\n      : (Array.isArray(parsed.packets) ? parsed.packets : [])\n  };\n}\n\nindex.entries.push({\n  packet_id: completion_packet.instance_id,\n  instance_id: completion_packet.instance_id,\n  artifact_family: completion_packet.artifact_family,\n  schema_version: completion_packet.schema_version,\n  producer_workflow: completion_packet.producer_workflow,\n  dossier_ref: completion_packet.dossier_ref,\n  created_at: completion_packet.created_at,\n  status: completion_packet.status,\n  payload: completion_packet.payload\n});\nindex.total_entries = index.entries.length;\nindex.last_updated = now;\n\nfs.writeFileSync(packetIndexPath, JSON.stringify(index, null, 2), 'utf8');\n\nreturn [{\n  json: {\n    workflow_id: 'WF-100',\n    execution_status: 'SUCCESS',\n    completion_packet,\n    packet_persistence: {\n      packet_index_path: packetIndexPath,\n      packet_entries: index.entries.length,\n      persisted_at: now\n    }\n  }\n}];"
      },
      "id": "wf100_completion_packet_emission_node",
      "name": "Completion Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3930,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    workflow_id: 'WF-100',\n    routing_decision: 'ERROR',\n    route_to_workflow: 'WF-900',\n    error_message: 'Pack validation failed or child workflow failed',\n    failure_context: $json.pack_validation,\n    child_results: $json.pack_validation.child_results_aggregated\n  }\n}];"
      },
      "id": "wf100_error_routing_node",
      "name": "Error Routing WF-900 Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3430,
        500
      ]
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Dossier Load Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Load Node": {
      "main": [
        [
          {
            "node": "Pack Initialization Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Initialization Node": {
      "main": [
        [
          {
            "node": "Execution Planner Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner Node": {
      "main": [
        [
          {
            "node": "Execute CWF-110 Topic Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CWF-110 Topic Discovery": {
      "main": [
        [
          {
            "node": "Capture CWF-110 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture CWF-110 Result": {
      "main": [
        [
          {
            "node": "Execute CWF-120 Topic Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CWF-120 Topic Qualification": {
      "main": [
        [
          {
            "node": "Capture CWF-120 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture CWF-120 Result": {
      "main": [
        [
          {
            "node": "Execute CWF-130 Topic Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CWF-130 Topic Scoring": {
      "main": [
        [
          {
            "node": "Capture CWF-130 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture CWF-130 Result": {
      "main": [
        [
          {
            "node": "Execute CWF-140 Research Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CWF-140 Research Synthesis": {
      "main": [
        [
          {
            "node": "Capture CWF-140 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture CWF-140 Result": {
      "main": [
        [
          {
            "node": "Pack Validation Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Validation Node": {
      "main": [
        [
          {
            "node": "Dossier Discovery Write Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Routing WF-900 Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Discovery Write Node": {
      "main": [
        [
          {
            "node": "se_route_runs Write Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se_route_runs Write Node": {
      "main": [
        [
          {
            "node": "Completion Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Packet Emission Node": {
      "main": [
        []
      ]
    },
    "Error Routing WF-900 Node": {
      "main": [
        []
      ]
    }
  },
  "meta": {
    "workflow_id": "WF-100",
    "phase": "phase1",
    "vein": "discovery_vein",
    "purpose": "Topic intelligence pack parent.",
    "implementation_depth": "production_grade",
    "owner_director": "narada",
    "next_workflow": "WF-200",
    "canonical_file": "n8n/workflows/WF-100.json",
    "wf900_error_route": "WF-900",
    "phase2_chaining": {
      "applied_at": "2026-04-29",
      "pattern": "children_first_then_validation",
      "child_workflow_invocations": [
        {
          "name": "CWF-110 Topic Discovery Canonical",
          "live_id": "9aM3CMjyQbaO9XYE",
          "capture_field": "cwf110_result"
        },
        {
          "name": "CWF-120 Topic Qualification Canonical",
          "live_id": "8Nf7TvjLr5kbAyPp",
          "capture_field": "cwf120_result"
        },
        {
          "name": "CWF-130 Topic Scoring Canonical",
          "live_id": "i2bPLxrWTASjJg4f",
          "capture_field": "cwf130_result"
        },
        {
          "name": "CWF-140 Research Synthesis Canonical",
          "live_id": "2rvNjmctBuBQFw8A",
          "capture_field": "cwf140_result"
        }
      ],
      "notes": "Chain runs CWF-110/120/130/140 BEFORE Pack Validation. Each Capture node maps sub-workflow output to $json.cwfXXX_result so Pack Validation sees real child results."
    }
  },
  "active": true
}