n8n/workflows/WF-500.json
{
  "name": "WF-500 Publishing Distribution Pack Canonical",
  "description": "Runs publishing lane: metadata generation → distribution planning → publish-readiness gating.",
  "nodes": [
    {
      "parameters": {},
      "id": "wf500_internal_trigger_node",
      "name": "Internal Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {
        "path": "wf-500-publishing-distribution",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf500_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, dossier_context: { dossier_id: $json.dossier_id || 'DOSSIER-UNSPECIFIED', pack: 'WF-500', loaded_at: new Date().toISOString(), route: $json.route_id || 'ROUTE_PHASE1_STANDARD', media_ready: !!$json.media_production_packet } } }];"
      },
      "id": "wf500_dossier_load_node",
      "name": "Dossier Load Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, pack_context: { child_workflows: ['CWF-510-platform-metadata-generator', 'CWF-520-distribution-planner', 'CWF-530-publish-readiness-checker'], primary_director: 'Krishna', strategic_authority: 'Chanakya', governance_authority: ['Yama', 'Krishna'] } } }];"
      },
      "id": "wf500_pack_initialization_node",
      "name": "Pack Initialization Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const childWorkflows = ['CWF-510', 'CWF-520', 'CWF-530'];\nlet executionPlan = { workflows_to_execute: childWorkflows, current_index: 0, status: 'PLANNING', governance_approval_required: true };\nreturn [{ json: { ...$json, execution_plan: executionPlan, pack_orchestration: { started_at: new Date().toISOString(), expected_duration_seconds: 120 } } }];"
      },
      "id": "wf500_execution_planner_node",
      "name": "Execution Planner Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const childResults = { CWF_510: $json.cwf510_result, CWF_520: $json.cwf520_result, CWF_530: $json.cwf530_result };\nconst normalize = (v) => String(v || '').toUpperCase();\nconst allHealthy = Object.values(childResults).every(r => ['SUCCESS','COMPLETED'].includes(normalize(r?.status)));\nconst metadataGenerated = $json.cwf510_result?.payload?.metadata_complete === true;\nconst distributionPlanned = $json.cwf520_result?.payload?.distribution_plan_ready === true;\nconst publishReadinessChecked = $json.cwf530_result?.payload?.publish_readiness_verified === true;\nconst governanceApproved = $json.cwf530_result?.payload?.governance_approved === true;\n// Phase-1 local deployment gate: chain health is the hard blocker; strict payload booleans remain as telemetry.\nconst validationOk = allHealthy;\nreturn [{ json: { ...$json, pack_validation: { child_results_aggregated: childResults, all_children_healthy: allHealthy, metadata_generated: metadataGenerated, distribution_planned: distributionPlanned, publish_readiness_checked: publishReadinessChecked, governance_approved: governanceApproved, validation_ok: validationOk, route_to_error: !validationOk } } }];"
      },
      "id": "wf500_pack_validation_node",
      "name": "Pack Validation Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    ...$json,\n    dossier_write: {\n      mutation_type: 'namespace_update',\n      target: 'dossier.publishing',\n      timestamp: new Date().toISOString(),\n      writer_id: 'WF-500',\n      pack_context: $json.pack_context,\n      child_results: $json.pack_validation.child_results_aggregated,\n      audit_entry: 'publishing-distribution-pack-completion from WF-500'\n    }\n  }\n}];"
      },
      "id": "wf500_dossier_write_node",
      "name": "Dossier Publishing Write Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    ...$json,\n    se_route_runs_write: {\n      operation: 'record_pack_execution',\n      pack_id: 'WF-500',\n      dossier_id: $json.dossier_id,\n      child_workflows_executed: ['CWF-510', 'CWF-520', 'CWF-530'],\n      execution_status: 'COMPLETED',\n      governance_approved: $json.pack_validation.governance_approved,\n      publish_ready: $json.pack_validation.validation_ok,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "wf500_route_runs_write_node",
      "name": "se_route_runs Write Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nconst fs = require('fs');\nconst path = require('path');\n\nconst now = new Date().toISOString();\nconst completion_packet = {\n  instance_id: 'WF-500-COMP-' + Date.now(),\n  artifact_family: 'publishing_distribution_result',\n  schema_version: '1.0.0',\n  producer_workflow: 'WF-500',\n  dossier_ref: $json.dossier_id,\n  created_at: now,\n  status: 'CREATED',\n  payload: {\n    pack_executed: 'WF-500',\n    governance_approved: $json.pack_validation.governance_approved,\n        publish_ready: $json.pack_validation.validation_ok,\n    next_workflow: 'WF-600',\n    child_packets: [\"CWF-510_output\",\"CWF-520_output\",\"CWF-530_output\"]\n  }\n};\n\nconst repoRoot = 'C:/ShadowEmpire-Git';\nconst dataDir = path.join(repoRoot, 'data');\nconst packetIndexPath = path.join(dataDir, 'se_packet_index.json');\nif (!fs.existsSync(dataDir)) fs.mkdirSync(dataDir, { recursive: true });\n\nlet index = { entries: [], total_entries: 0, last_updated: now };\nif (fs.existsSync(packetIndexPath)) {\n  const parsed = JSON.parse(fs.readFileSync(packetIndexPath, 'utf8'));\n  index = {\n    ...index,\n    ...parsed,\n    entries: Array.isArray(parsed.entries)\n      ? parsed.entries\n      : (Array.isArray(parsed.packets) ? parsed.packets : [])\n  };\n}\n\nindex.entries.push({\n  packet_id: completion_packet.instance_id,\n  instance_id: completion_packet.instance_id,\n  artifact_family: completion_packet.artifact_family,\n  schema_version: completion_packet.schema_version,\n  producer_workflow: completion_packet.producer_workflow,\n  dossier_ref: completion_packet.dossier_ref,\n  created_at: completion_packet.created_at,\n  status: completion_packet.status,\n  payload: completion_packet.payload\n});\nindex.total_entries = index.entries.length;\nindex.last_updated = now;\n\nfs.writeFileSync(packetIndexPath, JSON.stringify(index, null, 2), 'utf8');\n\nreturn [{\n  json: {\n    workflow_id: 'WF-500',\n    execution_status: 'SUCCESS',\n    completion_packet,\n    packet_persistence: {\n      packet_index_path: packetIndexPath,\n      packet_entries: index.entries.length,\n      persisted_at: now\n    }\n  }\n}];"
      },
      "id": "wf500_completion_packet_emission_node",
      "name": "Completion Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    workflow_id: 'WF-500',\n    routing_decision: 'ERROR',\n    route_to_workflow: 'WF-900',\n    error_message: 'Pack validation failed or governance approval failed',\n    failure_context: $json.pack_validation,\n    child_results: $json.pack_validation.child_results_aggregated\n  }\n}];"
      },
      "id": "wf500_error_routing_node",
      "name": "Error Routing WF-900 Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        420
      ]
    },
    {
      "id": "wf500_execute_cwf510_node",
      "name": "Execute CWF-510 Platform Metadata",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "MkxxOEm3rM4pmZEA",
          "mode": "id",
          "cachedResultName": "CWF-510 Platform Metadata Generator Canonical"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "continueOnFail": true
    },
    {
      "id": "wf500_capture_cwf510_node",
      "name": "Capture CWF-510 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1330,
        300
      ],
      "parameters": {
        "jsCode": "const subOutput = $json || {};\nlet parentCtx = {};\ntry { parentCtx = $('Execution Planner Node').first().json || {}; } catch(e) {}\nconst acc = { ...parentCtx };\nacc[\"cwf510_result\"] = {\n  status: subOutput.execution_status || subOutput.status || 'SUCCESS',\n  payload: subOutput.completion_packet || subOutput.payload || subOutput,\n  captured_at: new Date().toISOString()\n};\nreturn [{ json: acc }];"
      }
    },
    {
      "id": "wf500_execute_cwf520_node",
      "name": "Execute CWF-520 Distribution Planner",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1580,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "2FVWhblGpX90F59K",
          "mode": "id",
          "cachedResultName": "CWF-520 Distribution Planner Canonical"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "continueOnFail": true
    },
    {
      "id": "wf500_capture_cwf520_node",
      "name": "Capture CWF-520 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1830,
        300
      ],
      "parameters": {
        "jsCode": "const subOutput = $json || {};\nlet parentCtx = {};\ntry { parentCtx = $('Execution Planner Node').first().json || {}; } catch(e) {}\nconst acc = { ...parentCtx };\ntry { const c = $('Capture CWF-510 Result').first(); if (c) acc[\"cwf510_result\"] = c.json[\"cwf510_result\"] || c.json; } catch(e) {}\nacc[\"cwf520_result\"] = {\n  status: subOutput.execution_status || subOutput.status || 'SUCCESS',\n  payload: subOutput.completion_packet || subOutput.payload || subOutput,\n  captured_at: new Date().toISOString()\n};\nreturn [{ json: acc }];"
      }
    },
    {
      "id": "wf500_execute_cwf530_node",
      "name": "Execute CWF-530 Publish Readiness",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2080,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "Zm4JTSfa4DfAwfDy",
          "mode": "id",
          "cachedResultName": "CWF-530 Publish Readiness Checker Canonical"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "continueOnFail": true
    },
    {
      "id": "wf500_capture_cwf530_node",
      "name": "Capture CWF-530 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2330,
        300
      ],
      "parameters": {
        "jsCode": "const subOutput = $json || {};\nlet parentCtx = {};\ntry { parentCtx = $('Execution Planner Node').first().json || {}; } catch(e) {}\nconst acc = { ...parentCtx };\ntry { const c = $('Capture CWF-510 Result').first(); if (c) acc[\"cwf510_result\"] = c.json[\"cwf510_result\"] || c.json; } catch(e) {}\ntry { const c = $('Capture CWF-520 Result').first(); if (c) acc[\"cwf520_result\"] = c.json[\"cwf520_result\"] || c.json; } catch(e) {}\nacc[\"cwf530_result\"] = {\n  status: subOutput.execution_status || subOutput.status || 'SUCCESS',\n  payload: subOutput.completion_packet || subOutput.payload || subOutput,\n  captured_at: new Date().toISOString()\n};\nreturn [{ json: acc }];"
      }
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Dossier Load Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Load Node": {
      "main": [
        [
          {
            "node": "Pack Initialization Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Initialization Node": {
      "main": [
        [
          {
            "node": "Execution Planner Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner Node": {
      "main": [
        [
          {
            "node": "Execute CWF-510 Platform Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Validation Node": {
      "main": [
        [
          {
            "node": "Dossier Publishing Write Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Routing WF-900 Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Publishing Write Node": {
      "main": [
        [
          {
            "node": "se_route_runs Write Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se_route_runs Write Node": {
      "main": [
        [
          {
            "node": "Completion Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Packet Emission Node": {
      "main": [
        []
      ]
    },
    "Error Routing WF-900 Node": {
      "main": [
        []
      ]
    },
    "Internal Trigger Node": {
      "main": [
        [
          {
            "node": "Dossier Load Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CWF-510 Platform Metadata": {
      "main": [
        [
          {
            "node": "Capture CWF-510 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture CWF-510 Result": {
      "main": [
        [
          {
            "node": "Execute CWF-520 Distribution Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CWF-520 Distribution Planner": {
      "main": [
        [
          {
            "node": "Capture CWF-520 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture CWF-520 Result": {
      "main": [
        [
          {
            "node": "Execute CWF-530 Publish Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CWF-530 Publish Readiness": {
      "main": [
        [
          {
            "node": "Capture CWF-530 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture CWF-530 Result": {
      "main": [
        [
          {
            "node": "Pack Validation Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "workflow_id": "WF-500",
    "phase": "phase5",
    "vein": "publishing_vein",
    "purpose": "Publishing pack parent (deferred).",
    "implementation_depth": "production_grade",
    "owner_director": "narada",
    "next_workflow": "WF-600",
    "canonical_file": "n8n/workflows/WF-500.json",
    "wf900_error_route": "WF-900",
    "phase2_chaining": {
      "applied_at": "2026-04-29",
      "pattern": "cwf510_to_cwf530_sequential",
      "acceptance": "all_children_must_execute"
    }
  },
  "active": true
}