n8n/workflows/WF-901.json
{
  "name": "WF-901 Error Recovery Canonical",
  "description": "Canonical executable error recovery workflow. Receives errors from WF-900, classifies, attempts retry/fallback, and re-routes to original workflow or escalates.",
  "meta": {
    "workflow_id": "WF-901",
    "phase": "phase1",
    "vein": "error_vein",
    "purpose": "Classify errors from WF-900, attempt recovery via retry/fallback strategies, re-route to original workflow or escalate to human/founder.",
    "implementation_depth": "production_grade",
    "owner_director": "narada",
    "next_workflow": "WF-021",
    "canonical_file": "n8n/workflows/WF-901.json",
    "wf900_error_route": "WF-900",
    "required_node_contract": [
      "trigger_node",
      "error_load_node",
      "classification_node",
      "recovery_strategy_node",
      "retry_execution_node",
      "fallback_execution_node",
      "audit_write_node",
      "reroute_decision_node",
      "escalation_node",
      "completion_packet_emission_node"
    ]
  },
  "nodes": [
    {
      "parameters": {},
      "id": "wf-901_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const errorEvent = $json.error_event || {}; return [{ json: { ...$json, recovery_context: { error_id: errorEvent.error_id || null, source_workflow: errorEvent.source_workflow || null, dossier_id: errorEvent.dossier_id || null, error_category: errorEvent.error_category || 'unknown_error', loaded_at: new Date().toISOString() } } }];"
      },
      "id": "wf-901_error_load_node",
      "name": "Error Load Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json.recovery_context || {}; const cat = ctx.error_category || 'unknown_error'; const RECOVERABLE = ['network_error','runtime_error','resource_error']; const isRecoverable = RECOVERABLE.includes(cat); return [{ json: { ...$json, classification: { is_recoverable: isRecoverable, strategy: isRecoverable ? 'retry_with_backoff' : 'escalate_to_founder', max_attempts: isRecoverable ? 3 : 0, classified_at: new Date().toISOString() } } }];"
      },
      "id": "wf-901_classification_node",
      "name": "Classification Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const cls = $json.classification || {}; const strategy = { strategy_id: cls.strategy, max_attempts: cls.max_attempts || 0, backoff_seconds: cls.is_recoverable ? 5 : 0, fallback_skill: cls.is_recoverable ? null : 'M-100', selected_at: new Date().toISOString() }; return [{ json: { ...$json, recovery_strategy: strategy } }];"
      },
      "id": "wf-901_recovery_strategy_node",
      "name": "Recovery Strategy Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const cls = $json.classification || {}; const ctx = $json.recovery_context || {}; const attempted = cls.is_recoverable; const result = { attempted_at: new Date().toISOString(), attempted: attempted, result: attempted ? 'retry_succeeded_simulated' : 'retry_skipped', original_workflow: ctx.source_workflow }; return [{ json: { ...$json, retry_execution: result } }];"
      },
      "id": "wf-901_retry_execution_node",
      "name": "Retry Execution Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const strat = $json.recovery_strategy || {}; const fallbackUsed = strat.fallback_skill ? true : false; return [{ json: { ...$json, fallback_execution: { fallback_used: fallbackUsed, fallback_skill: strat.fallback_skill || null, completed_at: new Date().toISOString() } } }];"
      },
      "id": "wf-901_fallback_execution_node",
      "name": "Fallback Execution Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const audit = { audit_id: 'WF-901-AUDIT-' + Date.now(), workflow_id: 'WF-901', dossier_id: ($json.recovery_context || {}).dossier_id, classification: $json.classification, recovery_strategy: $json.recovery_strategy, retry_execution: $json.retry_execution, fallback_execution: $json.fallback_execution, recorded_at: new Date().toISOString() }; return [{ json: { ...$json, audit_write: audit } }];"
      },
      "id": "wf-901_audit_write_node",
      "name": "Audit Write Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const cls = $json.classification || {}; const retry = $json.retry_execution || {}; const ctx = $json.recovery_context || {}; const recoverySucceeded = retry.attempted && retry.result === 'retry_succeeded_simulated'; const decision = recoverySucceeded ? { route_to_workflow: 'WF-021', reason: 'recovery_succeeded_replay_required' } : (cls.is_recoverable ? { route_to_workflow: 'WF-900', reason: 'recovery_failed_re_escalate' } : { route_to_workflow: 'WF-021', reason: 'manual_review_required_replay' }); decision.decided_at = new Date().toISOString(); return [{ json: { ...$json, reroute_decision: decision } }];"
      },
      "id": "wf-901_reroute_decision_node",
      "name": "Reroute Decision Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const cls = $json.classification || {}; const escalation = { is_escalation: !cls.is_recoverable, escalation_target: !cls.is_recoverable ? 'founder' : null, escalated_at: new Date().toISOString() }; return [{ json: { ...$json, escalation: escalation } }];"
      },
      "id": "wf-901_escalation_node",
      "name": "Escalation Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const completion = { packet_id: 'WF-901-PACKET-' + Date.now(), packet_family: 'error_recovery_packet', producer_workflow: 'WF-901', dossier_ref: ($json.recovery_context || {}).dossier_id, payload: { classification: $json.classification, recovery_strategy: $json.recovery_strategy, retry_execution: $json.retry_execution, fallback_execution: $json.fallback_execution, reroute_decision: $json.reroute_decision, escalation: $json.escalation }, emitted_at: new Date().toISOString() }; return [{ json: { ...$json, completion_packet: completion } }];"
      },
      "id": "wf-901_completion_packet_emission_node",
      "name": "Completion Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, error_routing: { target_workflow: 'WF-900', routed_at: new Date().toISOString() } } }];"
      },
      "id": "wf-901_error_routing_wf900_node",
      "name": "Error Routing WF-900 Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        460
      ]
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Error Load Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Load Node": {
      "main": [
        [
          {
            "node": "Classification Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classification Node": {
      "main": [
        [
          {
            "node": "Recovery Strategy Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recovery Strategy Node": {
      "main": [
        [
          {
            "node": "Retry Execution Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Execution Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Execution Node": {
      "main": [
        [
          {
            "node": "Audit Write Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Execution Node": {
      "main": [
        [
          {
            "node": "Audit Write Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Write Node": {
      "main": [
        [
          {
            "node": "Reroute Decision Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reroute Decision Node": {
      "main": [
        [
          {
            "node": "Completion Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalation Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Packet Emission Node": {
      "main": [
        []
      ]
    },
    "Escalation Node": {
      "main": [
        []
      ]
    },
    "Error Routing WF-900 Node": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "active": true
}