n8n/workflows/context/WF-300-context-engineering.json
{
  "name": "WF-300 Context Engineering",
  "description": "Parent pack orchestrator for context engineering child workflows CWF-310..CWF-340.",
  "nodes": [
    {
      "parameters": {},
      "id": "wf300_trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-300', child_order: ['CWF-310','CWF-320','CWF-330','CWF-340'], packet_in: $json.final_script_packet || null, status: 'child_chain_ready', timestamp: new Date().toISOString() } }];"
      },
      "id": "wf300_plan",
      "name": "Plan Child Chain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-300', output_packet_family: 'context_engineering_packet', next_workflow: 'WF-400', status: 'ready_for_pack_handoff', details: $json } }];"
      },
      "id": "wf300_emit",
      "name": "Emit Parent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        280
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Plan Child Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Child Chain": {
      "main": [
        [
          {
            "node": "Emit Parent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "workflow_id": "WF-300",
    "phase": "phase1",
    "pack": "context_engineering",
    "implementation_depth": "production_grade",
    "vein": "context_engineering_vein",
    "purpose": "Execute deterministic workflow WF-300 with governance-bound routing.",
    "owner_director": "Krishna",
    "next_workflow": "CWF-410",
    "wf900_error_route": "WF-900"
  },
  "active": false,
  "settings": {}
}
