n8n/workflows/publishing/WF-500-publishing-distribution.json
{
  "name": "WF-500 Publishing Distribution",
  "description": "Parent pack orchestrator for publishing child workflows CWF-510..CWF-530.",
  "nodes": [
    {
      "parameters": {},
      "id": "wf500_trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-500', child_order: ['CWF-510','CWF-520','CWF-530'], packet_in: $json.media_production_packet || null, status: 'child_chain_ready', timestamp: new Date().toISOString() } }];"
      },
      "id": "wf500_plan",
      "name": "Plan Child Chain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflow_id: 'WF-500', output_packet_family: 'publish_ready_packet', next_workflow: 'WF-600', status: 'ready_for_pack_handoff', details: $json } }];"
      },
      "id": "wf500_emit",
      "name": "Emit Parent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        280
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Plan Child Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Child Chain": {
      "main": [
        [
          {
            "node": "Emit Parent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "workflow_id": "WF-500",
    "phase": "phase1",
    "pack": "publishing_distribution",
    "implementation_depth": "production_grade",
    "vein": "publishing_vein",
    "purpose": "Execute deterministic workflow WF-500 with governance-bound routing.",
    "owner_director": "Chanakya",
    "next_workflow": "WF-020",
    "wf900_error_route": "WF-900"
  },
  "active": false,
  "settings": {}
}
