transfer_bundle/mac_transfer_sanitized/staging_mac_sanitized_20260518/archive_reference/n8n_full_environment_reference_20260518_v8/workflow_export_sanitized/CWF_610_Performance_Metrics_Collector_Canonical__TtNZPHaQ0Jt7Qg84.json
{
  "id": "TtNZPHaQ0Jt7Qg84",
  "name": "CWF-610 Performance Metrics Collector Canonical",
  "active": true,
  "isArchived": false,
  "createdAt": "2026-05-03 18:48:14.862",
  "updatedAt": "2026-05-14 20:32:13.876",
  "versionId": "2a809187-1c11-4a98-9f15-806954ca4cea",
  "activeVersionId": "2a809187-1c11-4a98-9f15-806954ca4cea",
  "triggerCount": 0,
  "description": "Collects performance metrics: engagement rates, view duration, audience retention curves.",
  "settings": {},
  "meta": {
    "workflow_id": "CWF-610",
    "phase": "phase1",
    "vein": "analytics_vein",
    "purpose": "Performance metrics collection from published content.",
    "implementation_depth": "production_grade",
    "owner_director": "chandra",
    "next_workflow": "CWF-620",
    "canonical_file": "n8n/workflows/CWF-610.json",
    "wf900_error_route": "WF-900"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {},
      "id": "cwf610_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const metrics = { views: Math.floor(Math.random() * 10000) + 1000, likes: Math.floor(Math.random() * 500) + 50, shares: Math.floor(Math.random() * 200) + 10, comments: Math.floor(Math.random() * 300) + 20, avg_watch_duration_sec: Math.floor(Math.random() * 300) + 60, engagement_rate: (Math.random() * 0.15 + 0.02).toFixed(3), retention_curve: [1.0, 0.95, 0.87, 0.76, 0.65, 0.52, 0.41] }; return [{ json: { ...$json, performance_metrics: metrics, metrics_collected_at: new Date().toISOString() } }];"
      },
      "id": "cwf610_metrics_collector_node",
      "name": "Metrics Collector Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const packet = { instance_id: 'PERF-' + Date.now(), artifact_family: 'performance_metrics_packet', schema_version: '1.0.0', producer_workflow: 'CWF-610', dossier_ref: $json.dossier_id || 'DOSSIER-UNSPECIFIED', created_at: new Date().toISOString(), status: 'CREATED', payload: { metrics_complete: true, views: $json.performance_metrics.views, likes: $json.performance_metrics.likes, shares: $json.performance_metrics.shares, comments: $json.performance_metrics.comments, avg_watch_duration_sec: $json.performance_metrics.avg_watch_duration_sec, engagement_rate: parseFloat($json.performance_metrics.engagement_rate), retention_curve: $json.performance_metrics.retention_curve } }; return [{ json: { ...$json, performance_metrics_packet: packet, packet_emitted: true } }];"
      },
      "id": "cwf610_packet_emission_node",
      "name": "Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, cwf610_result: { status: 'COMPLETED', performance_metrics_packet: $json.performance_metrics_packet, payload: { metrics_complete: true } } } }];"
      },
      "id": "cwf610_completion_node",
      "name": "Completion Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const workflowId = 'CWF-610';\n  const defaultSkillMap = {\n    'CWF-610': 'M-185',\n    'CWF-620': 'M-200',\n    'CWF-630': 'M-215'\n  };\n  const skillId = $json.skill_id || defaultSkillMap[workflowId] || 'M-001';\n  const dossierId = $json.body?.dossier_id || $json.dossier_context?.dossier_id || $json.dossier_id || 'DOSSIER-UNSPECIFIED';\n\n  const payload = {\n    dossier_id: dossierId,\n    dossier_ref: dossierId,\n    workflow_id: workflowId,\n    workflow_ref: workflowId,\n    skill_id: skillId,\n    source_node: 'Skill Execution Node',\n    route_id: $json.body?.route_id || $json.route_id || $json.dossier_context?.route || null,\n    task: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || 'MISSION_CONTEXT_MISSING',\n    context: {\n      topic: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || null,\n      mode: $json.body?.user_mode || $json.user_mode || $json.mode || 'creator', mission_context: $json.body?.mission_context || $json.mission_context || null\n    },\n    dossier: typeof $json.dossier === 'object' ? $json.dossier : {}\n  };\n\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://127.0.0.1:5002/operator/skill-runtime',\n    headers: { 'content-type': 'application/json' },\n    body: payload,\n    json: true,\n    timeout: 120000\n  });\n  if (result.status !== 'SUCCESS' || !result.runtime_packet) {\n    throw new Error(String(result.error || 'skill-runtime returned no runtime_packet'));\n  }\n\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: workflowId,\n        skill_id: skillId,\n        status: 'SUCCESS',\n        had_error: false,\n        error_message: '',\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: result.runtime_packet,\n      skill_execution_result: result.skill_execution_result || result,\n      runtime: { had_error: false, error_message: '' }\n    }\n  }];\n} catch (error) {\n  const message = String(error && error.message ? error.message : error);\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: 'CWF-610',\n        skill_id: $json.skill_id || null,\n        status: 'ERROR',\n        had_error: true,\n        error_message: message,\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: null,\n      skill_execution_result: null,\n      runtime: { had_error: true, error_message: message }\n    }\n  }];\n}"
      },
      "id": "cwf610_skill_runtime_probe_node",
      "name": "Skill Runtime Probe Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Skill Runtime Probe Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metrics Collector Node": {
      "main": [
        [
          {
            "node": "Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Packet Emission Node": {
      "main": [
        [
          {
            "node": "Completion Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Node": {
      "main": [
        []
      ]
    },
    "Skill Runtime Probe Node": {
      "main": [
        [
          {
            "node": "Metrics Collector Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}