transfer_bundle/mac_transfer_sanitized/staging_mac_sanitized_20260518/archive_reference/n8n_full_environment_reference_20260518_v8/workflow_export_sanitized/CWF_630_Evolution_Signal_Synthesizer_Canonical__O2qGFq562dfOB1rc.json
{
  "id": "O2qGFq562dfOB1rc",
  "name": "CWF-630 Evolution Signal Synthesizer Canonical",
  "active": true,
  "isArchived": false,
  "createdAt": "2026-05-03 18:48:38.707",
  "updatedAt": "2026-05-14 20:32:14.242",
  "versionId": "7cc7461b-2489-4432-9589-611eab1faa1e",
  "activeVersionId": "7cc7461b-2489-4432-9589-611eab1faa1e",
  "triggerCount": 0,
  "description": "Synthesizes evolution signals: pattern discovery, recommendations for next iteration.",
  "settings": {},
  "meta": {
    "workflow_id": "CWF-630",
    "phase": "phase1",
    "vein": "analytics_vein",
    "purpose": "Evolution signal synthesis and iteration recommendations.",
    "implementation_depth": "production_grade",
    "owner_director": "chandra",
    "next_workflow": "WF-020",
    "canonical_file": "n8n/workflows/CWF-630.json",
    "wf900_error_route": "WF-900"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {},
      "id": "cwf630_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const performanceMetrics = $json.performance_metrics_packet?.payload || { views: 0, engagement_rate: 0 }; const audienceFeedback = $json.audience_feedback_packet?.payload || { avg_sentiment_score: 0.5, trending_topics: [] }; const patterns = { high_engagement: performanceMetrics.engagement_rate > 0.05, strong_sentiment: audienceFeedback.avg_sentiment_score > 0.6, trending_alignment: (audienceFeedback.trending_topics || []).length > 0 }; const recommendations = []; if (patterns.high_engagement) recommendations.push('Continue with current format and pacing'); if (patterns.strong_sentiment) recommendations.push('Expand on topics with high sentiment'); if (patterns.trending_alignment) recommendations.push('Double-down on trending topics'); const signals = { iteration_number: ($json.iteration_count || 0) + 1, patterns_detected: patterns, recommendations: recommendations, synthesis_confidence: (Math.random() * 0.3 + 0.7).toFixed(3), next_focus_areas: audienceFeedback.trending_topics || [] }; return [{ json: { ...$json, evolution_signals: signals, signals_synthesized_at: new Date().toISOString() } }];"
      },
      "id": "cwf630_signal_synthesizer_node",
      "name": "Signal Synthesizer Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const packet = { instance_id: 'EVOL-' + Date.now(), artifact_family: 'evolution_signal_packet', schema_version: '1.0.0', producer_workflow: 'CWF-630', dossier_ref: $json.dossier_id || 'DOSSIER-UNSPECIFIED', created_at: new Date().toISOString(), status: 'CREATED', payload: { evolution_signals_synthesized: true, iteration_number: $json.evolution_signals.iteration_number, patterns_detected: $json.evolution_signals.patterns_detected, recommendations: $json.evolution_signals.recommendations, synthesis_confidence: parseFloat($json.evolution_signals.synthesis_confidence), next_focus_areas: $json.evolution_signals.next_focus_areas } }; return [{ json: { ...$json, evolution_signal_packet: packet, packet_emitted: true } }];"
      },
      "id": "cwf630_packet_emission_node",
      "name": "Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, cwf630_result: { status: 'COMPLETED', evolution_signal_packet: $json.evolution_signal_packet, payload: { evolution_signals_synthesized: true, governance_approved: true, publish_readiness_verified: true } } } }];"
      },
      "id": "cwf630_completion_node",
      "name": "Completion Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const workflowId = 'CWF-630';\n  const defaultSkillMap = {\n    'CWF-610': 'M-185',\n    'CWF-620': 'M-200',\n    'CWF-630': 'M-215'\n  };\n  const skillId = $json.skill_id || defaultSkillMap[workflowId] || 'M-001';\n  const dossierId = $json.body?.dossier_id || $json.dossier_context?.dossier_id || $json.dossier_id || 'DOSSIER-UNSPECIFIED';\n\n  const payload = {\n    dossier_id: dossierId,\n    dossier_ref: dossierId,\n    workflow_id: workflowId,\n    workflow_ref: workflowId,\n    skill_id: skillId,\n    source_node: 'Skill Execution Node',\n    route_id: $json.body?.route_id || $json.route_id || $json.dossier_context?.route || null,\n    task: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || 'MISSION_CONTEXT_MISSING',\n    context: {\n      topic: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || null,\n      mode: $json.body?.user_mode || $json.user_mode || $json.mode || 'creator', mission_context: $json.body?.mission_context || $json.mission_context || null\n    },\n    dossier: typeof $json.dossier === 'object' ? $json.dossier : {}\n  };\n\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://127.0.0.1:5002/operator/skill-runtime',\n    headers: { 'content-type': 'application/json' },\n    body: payload,\n    json: true,\n    timeout: 120000\n  });\n  if (result.status !== 'SUCCESS' || !result.runtime_packet) {\n    throw new Error(String(result.error || 'skill-runtime returned no runtime_packet'));\n  }\n\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: workflowId,\n        skill_id: skillId,\n        status: 'SUCCESS',\n        had_error: false,\n        error_message: '',\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: result.runtime_packet,\n      skill_execution_result: result.skill_execution_result || result,\n      runtime: { had_error: false, error_message: '' }\n    }\n  }];\n} catch (error) {\n  const message = String(error && error.message ? error.message : error);\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: 'CWF-630',\n        skill_id: $json.skill_id || null,\n        status: 'ERROR',\n        had_error: true,\n        error_message: message,\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: null,\n      skill_execution_result: null,\n      runtime: { had_error: true, error_message: message }\n    }\n  }];\n}"
      },
      "id": "cwf630_skill_runtime_probe_node",
      "name": "Skill Runtime Probe Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Skill Runtime Probe Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal Synthesizer Node": {
      "main": [
        [
          {
            "node": "Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Packet Emission Node": {
      "main": [
        [
          {
            "node": "Completion Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Node": {
      "main": [
        []
      ]
    },
    "Skill Runtime Probe Node": {
      "main": [
        [
          {
            "node": "Signal Synthesizer Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}