transfer_bundle/mac_transfer_sanitized/staging_mac_sanitized_20260518/archive_reference/n8n_full_environment_reference_20260518_v8/workflow_export_sanitized/CWF_620_Audience_Feedback_Aggregator_Canonical__iqh4gVJjrsMnTvnR.json
{
  "id": "iqh4gVJjrsMnTvnR",
  "name": "CWF-620 Audience Feedback Aggregator Canonical",
  "active": true,
  "isArchived": false,
  "createdAt": "2026-05-03 18:48:26.303",
  "updatedAt": "2026-05-14 20:32:14.104",
  "versionId": "e1f6643b-a76a-40c1-94e4-d89f11c79824",
  "activeVersionId": "e1f6643b-a76a-40c1-94e4-d89f11c79824",
  "triggerCount": 0,
  "description": "Aggregates audience feedback: comments, sentiment analysis, topic trending.",
  "settings": {},
  "meta": {
    "workflow_id": "CWF-620",
    "phase": "phase1",
    "vein": "analytics_vein",
    "purpose": "Audience feedback and sentiment aggregation.",
    "implementation_depth": "production_grade",
    "owner_director": "chandra",
    "next_workflow": "CWF-630",
    "canonical_file": "n8n/workflows/CWF-620.json",
    "wf900_error_route": "WF-900"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {},
      "id": "cwf620_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const feedback = { total_comments: Math.floor(Math.random() * 500) + 50, avg_sentiment_score: (Math.random() * 0.8 + 0.1).toFixed(3), positive_ratio: (Math.random() * 0.6 + 0.3).toFixed(3), negative_ratio: (Math.random() * 0.2 + 0.05).toFixed(3), neutral_ratio: (Math.random() * 0.3 + 0.15).toFixed(3), trending_topics: ['topic_1', 'topic_2', 'topic_3'], sentiment_distribution: { positive: Math.floor(Math.random() * 300) + 50, neutral: Math.floor(Math.random() * 200) + 30, negative: Math.floor(Math.random() * 80) + 10 } }; return [{ json: { ...$json, audience_feedback: feedback, feedback_aggregated_at: new Date().toISOString() } }];"
      },
      "id": "cwf620_feedback_aggregator_node",
      "name": "Feedback Aggregator Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const packet = { instance_id: 'FDBK-' + Date.now(), artifact_family: 'audience_feedback_packet', schema_version: '1.0.0', producer_workflow: 'CWF-620', dossier_ref: $json.dossier_id || 'DOSSIER-UNSPECIFIED', created_at: new Date().toISOString(), status: 'CREATED', payload: { feedback_aggregated: true, total_comments: $json.audience_feedback.total_comments, avg_sentiment_score: parseFloat($json.audience_feedback.avg_sentiment_score), positive_ratio: parseFloat($json.audience_feedback.positive_ratio), negative_ratio: parseFloat($json.audience_feedback.negative_ratio), neutral_ratio: parseFloat($json.audience_feedback.neutral_ratio), trending_topics: $json.audience_feedback.trending_topics, sentiment_distribution: $json.audience_feedback.sentiment_distribution } }; return [{ json: { ...$json, audience_feedback_packet: packet, packet_emitted: true } }];"
      },
      "id": "cwf620_packet_emission_node",
      "name": "Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, cwf620_result: { status: 'COMPLETED', audience_feedback_packet: $json.audience_feedback_packet, payload: { feedback_aggregated: true } } } }];"
      },
      "id": "cwf620_completion_node",
      "name": "Completion Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const workflowId = 'CWF-620';\n  const defaultSkillMap = {\n    'CWF-610': 'M-185',\n    'CWF-620': 'M-200',\n    'CWF-630': 'M-215'\n  };\n  const skillId = $json.skill_id || defaultSkillMap[workflowId] || 'M-001';\n  const dossierId = $json.body?.dossier_id || $json.dossier_context?.dossier_id || $json.dossier_id || 'DOSSIER-UNSPECIFIED';\n\n  const payload = {\n    dossier_id: dossierId,\n    dossier_ref: dossierId,\n    workflow_id: workflowId,\n    workflow_ref: workflowId,\n    skill_id: skillId,\n    source_node: 'Skill Execution Node',\n    route_id: $json.body?.route_id || $json.route_id || $json.dossier_context?.route || null,\n    task: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || 'MISSION_CONTEXT_MISSING',\n    context: {\n      topic: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || null,\n      mode: $json.body?.user_mode || $json.user_mode || $json.mode || 'creator', mission_context: $json.body?.mission_context || $json.mission_context || null\n    },\n    dossier: typeof $json.dossier === 'object' ? $json.dossier : {}\n  };\n\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://127.0.0.1:5002/operator/skill-runtime',\n    headers: { 'content-type': 'application/json' },\n    body: payload,\n    json: true,\n    timeout: 120000\n  });\n  if (result.status !== 'SUCCESS' || !result.runtime_packet) {\n    throw new Error(String(result.error || 'skill-runtime returned no runtime_packet'));\n  }\n\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: workflowId,\n        skill_id: skillId,\n        status: 'SUCCESS',\n        had_error: false,\n        error_message: '',\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: result.runtime_packet,\n      skill_execution_result: result.skill_execution_result || result,\n      runtime: { had_error: false, error_message: '' }\n    }\n  }];\n} catch (error) {\n  const message = String(error && error.message ? error.message : error);\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: 'CWF-620',\n        skill_id: $json.skill_id || null,\n        status: 'ERROR',\n        had_error: true,\n        error_message: message,\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: null,\n      skill_execution_result: null,\n      runtime: { had_error: true, error_message: message }\n    }\n  }];\n}"
      },
      "id": "cwf620_skill_runtime_probe_node",
      "name": "Skill Runtime Probe Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Skill Runtime Probe Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Aggregator Node": {
      "main": [
        [
          {
            "node": "Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Packet Emission Node": {
      "main": [
        [
          {
            "node": "Completion Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Node": {
      "main": [
        []
      ]
    },
    "Skill Runtime Probe Node": {
      "main": [
        [
          {
            "node": "Feedback Aggregator Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}