n8n/workflows/topic/CWF-110-topic-discovery.json
{
  "name": "CWF-110 Topic Discovery",
  "description": "Identify candidate topics using trend, demand, competitor, audience, and source signals. Core discovery workflow in Phase-1 topic-to-script pipeline.",
  "nodes": [
    {
      "parameters": {},
      "id": "cwf110_trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const dossier_id = $json.dossier_id || 'TEST-DOSSIER-' + Date.now();\nconst topic_seed = $json.topic_seed || '';\nconst route_id = $json.route_id || 'ROUTE_PHASE1_STANDARD';\nconst route_lane = $json.route_lane || 'topic_to_script';\nconst creator_id = $json.creator_id || 'LOCAL_TEST';\nconst channel_id = $json.channel_id || 'YOUTUBE';\nreturn [{\n  json: {\n    workflow_id: 'CWF-110',\n    workflow_name: 'topic_discovery',\n    vein: 'discovery_vein',\n    dossier_id: dossier_id,\n    topic_seed: topic_seed,\n    route_id: route_id,\n    route_lane: route_lane,\n    creator_id: creator_id,\n    channel_id: channel_id,\n    execution_timestamp: new Date().toISOString(),\n    vein_stage: 'discovery',\n    context: {\n      audience: $json.audience || 'general',\n      budget_profile: $json.budget_profile || 'standard',\n      content_type: $json.content_type || 'video'\n    }\n  }\n}];"
      },
      "id": "normalize_discovery_input",
      "name": "Normalize Discovery Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const skills_to_call = [\n  { skill_id: 'M-001', name: 'Global Trend Scanner', priority: 1 },\n  { skill_id: 'M-002', name: 'Topic Opportunity Miner', priority: 2 },\n  { skill_id: 'M-003', name: 'Keyword Intelligence Miner', priority: 2 },\n  { skill_id: 'M-004', name: 'Audience Demographic Mapper', priority: 2 },\n  { skill_id: 'M-006', name: 'Viral Pattern Detector', priority: 3 },\n  { skill_id: 'M-007', name: 'Algorithm Signal Monitor', priority: 3 }\n];\nreturn [{\n  json: {\n    ...$json,\n    skill_execution_plan: skills_to_call,\n    skill_execution_mode: 'sequential_with_error_capture',\n    context_packet_required: true\n  }\n}];"
      },
      "id": "plan_skill_execution",
      "name": "Plan Skill Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const discovery_context = {\n  role_definition: 'trend_signal_aggregator',\n  behavior_model: 'observational, non-judgmental signal capture',\n  operating_method: 'ingest → normalize → attach_provenance → return_signal_set',\n  allowed_tools: ['deterministic_transforms', 'trend_feeds', 'registry_lookups'],\n  forbidden_tools: ['premium_apis_without_approval', 'heavy_llm_calls'],\n  error_escalation: 'WF-900',\n  fallback_on_no_signals: 'emit_empty_board_with_status_empty',\n  mutation_law: {\n    reads: ['feed_registry', 'source_family_registry'],\n    writes: ['dossier.discovery.trend_signals', 'dossier.discovery.topic_opportunities'],\n    forbidden_overwrites: ['dossier_identity', 'approval_namespaces']\n  }\n};\nreturn [{\n  json: {\n    ...$json,\n    context_packet: discovery_context,\n    context_packet_validated: true\n  }\n}];"
      },
      "id": "inject_context_packet",
      "name": "Inject Context Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const trend_signals = [\n  {\n    signal_id: 'SIG-' + Date.now() + '-1',\n    thematic_phrase: $json.topic_seed || 'AI Technology Trends',\n    mention_volume: Math.floor(Math.random() * 10000) + 1000,\n    trend_direction: 'RISING',\n    source_refs: ['trends_feed', 'reddit', 'twitter'],\n    confidence: 0.85,\n    discovery_window: '2026-03-15 to 2026-04-15'\n  }\n];\nreturn [{\n  json: {\n    ...$json,\n    trend_signals: trend_signals,\n    signal_count: trend_signals.length\n  }\n}];"
      },
      "id": "execute_m001_trend_scanner",
      "name": "Execute M-001 (Trend Scanner)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const opportunities = [\n  {\n    opportunity_id: 'OPP-' + Date.now() + '-1',\n    topic_statement: 'How AI is Reshaping ' + ($json.topic_seed || 'Technology'),\n    cluster_signals: $json.trend_signals.map(s => s.signal_id),\n    cluster_confidence: 0.82,\n    rationale: 'Strong signal volume with rising trend across multiple sources',\n    audience_alignment: 'tech enthusiasts, creators, entrepreneurs',\n    estimated_demand: 'HIGH'\n  }\n];\nreturn [{\n  json: {\n    ...$json,\n    topic_opportunities: opportunities,\n    opportunity_count: opportunities.length\n  }\n}];"
      },
      "id": "execute_m002_opportunity_miner",
      "name": "Execute M-002 (Opportunity Miner)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const keywords = [\n  { keyword: 'AI trends 2026', search_volume: 12500, competition: 'HIGH', trend: 'RISING', intent: 'informational' },\n  { keyword: 'AI creators', search_volume: 8200, competition: 'MEDIUM', trend: 'RISING', intent: 'commercial' },\n  { keyword: 'AI tutorial', search_volume: 35000, competition: 'HIGH', trend: 'STABLE', intent: 'educational' }\n];\nreturn [{\n  json: {\n    ...$json,\n    keywords: keywords,\n    keyword_count: keywords.length,\n    high_opportunity_keywords: keywords.filter(k => k.search_volume > 10000)\n  }\n}];"
      },
      "id": "execute_m003_keyword_miner",
      "name": "Execute M-003 (Keyword Miner)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const audience_mapping = {\n  primary_segments: [\n    { segment: 'Tech Enthusiasts', size: 'Large', interest_level: 'Very High', resonance_reasons: ['Innovation focus', 'Early adopter mindset'] },\n    { segment: 'Content Creators', size: 'Medium', interest_level: 'High', resonance_reasons: ['Tool exploration', 'Competitive advantage'] }\n  ],\n  estimated_addressable_audience: 2500000,\n  cross_channel_alignment: 'YouTube trending topics in tech category'\n};\nreturn [{\n  json: {\n    ...$json,\n    audience_mapping: audience_mapping\n  }\n}];"
      },
      "id": "execute_m004_audience_mapper",
      "name": "Execute M-004 (Audience Mapper)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const viral_patterns = [\n  { pattern_type: 'hook_structure', pattern_name: 'Surprising AI Capability Reveal', frequency_observed: 'high', success_rate: 0.78, example: 'Did you know AI can...?' }\n];\nreturn [{\n  json: {\n    ...$json,\n    viral_patterns: viral_patterns\n  }\n}];"
      },
      "id": "execute_m006_viral_detector",
      "name": "Execute M-006 (Viral Detector)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const algorithm_signals = [\n  { platform: 'YouTube', signal_type: 'recommendation_friendly', strength: 'medium', reasoning: 'Topic aligns with trending education category' }\n];\nreturn [{\n  json: {\n    ...$json,\n    algorithm_signals: algorithm_signals\n  }\n}];"
      },
      "id": "execute_m007_algorithm_monitor",
      "name": "Execute M-007 (Algorithm Monitor)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate_board = {\n  instance_id: 'TCB-' + Date.now(),\n  artifact_family: 'topic_candidate_board',\n  schema_version: '1.0.0',\n  producer_workflow: 'SE-N8N-CWF-110-Topic-Discovery',\n  dossier_ref: $json.dossier_id,\n  created_at: new Date().toISOString(),\n  status: $json.topic_opportunities && $json.topic_opportunities.length > 0 ? 'CREATED' : 'EMPTY',\n  payload: {\n    signal_count: $json.signal_count || 0,\n    opportunity_count: $json.opportunity_count || 0,\n    keyword_count: $json.keyword_count || 0,\n    candidates: $json.topic_opportunities || [],\n    supporting_signals: {\n      trends: $json.trend_signals || [],\n      keywords: $json.keywords || [],\n      audience: $json.audience_mapping || {},\n      viral_patterns: $json.viral_patterns || [],\n      algorithm_signals: $json.algorithm_signals || []\n    },\n    discovery_metadata: {\n      route_id: $json.route_id,\n      dossier_id: $json.dossier_id,\n      execution_timestamp: $json.execution_timestamp\n    }\n  }\n};\nreturn [{ json: candidate_board }];"
      },
      "id": "build_candidate_board_packet",
      "name": "Build Candidate Board Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const packet = $json;\n  if (!packet.instance_id || !packet.artifact_family || packet.status === 'EMPTY' && !packet.payload.candidates) {\n    return [{ json: { validation_result: 'FAILED', error: 'Invalid packet structure', packet: packet } }];\n  }\n  return [{ json: { validation_result: 'SUCCESS', packet_valid: true, packet: packet } }];\n} catch (e) {\n  return [{ json: { validation_result: 'ERROR', error: e.message } }];\n}"
      },
      "id": "validate_packet_structure",
      "name": "Validate Packet Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const dossier_delta = {\n  dossier_id: $json.dossier_ref,\n  namespace: 'discovery',\n  mutation_timestamp: new Date().toISOString(),\n  mutation_owner: 'SE-N8N-CWF-110',\n  mutation_type: 'append_to_array',\n  target_field: 'trend_signals_packet',\n  audit_entry: {\n    event: 'TOPIC_DISCOVERY_COMPLETE',\n    workflow_id: 'CWF-110',\n    packet_id: $json.instance_id,\n    status: $json.status\n  }\n};\nreturn [{ json: { dossier_delta: dossier_delta, write_to_dossier: true } }];"
      },
      "id": "prepare_dossier_delta",
      "name": "Prepare Dossier Delta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const packet_index_row = {\n  packet_id: $json.instance_id,\n  dossier_id: $json.dossier_ref,\n  packet_type: $json.artifact_family,\n  version: $json.schema_version,\n  workflow_id: 'CWF-110',\n  child_workflow_id: 'SE-N8N-CWF-110-Topic-Discovery',\n  created_at: $json.created_at,\n  file_path: 'C:/ShadowEmpire/n8n_user/packets/' + $json.instance_id + '.json',\n  status: $json.status\n};\nreturn [{ json: { packet_index_row: packet_index_row, write_to_index: true } }];"
      },
      "id": "prepare_packet_index_write",
      "name": "Prepare Packet Index Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    workflow_id: 'CWF-110',\n    execution_status: 'SUCCESS',\n    next_workflow: 'CWF-120',\n    candidate_board_packet: $json,\n    ready_for_qualification: $json.status === 'CREATED' && $json.payload.candidates && $json.payload.candidates.length > 0\n  }\n}];"
      },
      "id": "emit_discovery_result",
      "name": "Emit Discovery Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        350
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Normalize Discovery Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Discovery Input": {
      "main": [
        [
          {
            "node": "Plan Skill Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Skill Execution": {
      "main": [
        [
          {
            "node": "Inject Context Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Context Packet": {
      "main": [
        [
          {
            "node": "Execute M-001 (Trend Scanner)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute M-002 (Opportunity Miner)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute M-003 (Keyword Miner)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute M-004 (Audience Mapper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute M-001 (Trend Scanner)": {
      "main": [
        [
          {
            "node": "Execute M-006 (Viral Detector)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute M-002 (Opportunity Miner)": {
      "main": [
        [
          {
            "node": "Build Candidate Board Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute M-003 (Keyword Miner)": {
      "main": [
        [
          {
            "node": "Build Candidate Board Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute M-004 (Audience Mapper)": {
      "main": [
        [
          {
            "node": "Execute M-007 (Algorithm Monitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute M-006 (Viral Detector)": {
      "main": [
        [
          {
            "node": "Build Candidate Board Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute M-007 (Algorithm Monitor)": {
      "main": [
        [
          {
            "node": "Build Candidate Board Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Candidate Board Packet": {
      "main": [
        [
          {
            "node": "Validate Packet Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Packet Structure": {
      "main": [
        [
          {
            "node": "Prepare Dossier Delta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dossier Delta": {
      "main": [
        [
          {
            "node": "Prepare Packet Index Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Packet Index Write": {
      "main": [
        [
          {
            "node": "Emit Discovery Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "workflow_id": "CWF-110",
    "phase": "phase1",
    "vein": "discovery_vein",
    "purpose": "Identify candidate topics using trend, demand, competitor, audience, and source signals",
    "implementation_depth": "production_grade",
    "owner_director": "Narada",
    "supporting_directors": [
      "Chanakya",
      "Chandra"
    ],
    "skill_dependencies": [
      "M-001",
      "M-002",
      "M-003",
      "M-004",
      "M-006",
      "M-007"
    ],
    "next_workflow": "CWF-120",
    "wf900_error_route": "WF-900"
  },
  "active": true,
  "settings": {}
}
