archive_reference/n8n_full_environment_reference_20260518_v8/workflow_export_sanitized/CWF_520_Distribution_Planner_Canonical__QPtDu7W7eaDNKgeI.json
{
  "id": "QPtDu7W7eaDNKgeI",
  "name": "CWF-520 Distribution Planner Canonical",
  "active": true,
  "isArchived": false,
  "createdAt": "2026-05-03 18:47:51.231",
  "updatedAt": "2026-05-14 20:32:13.621",
  "versionId": "a891e744-3d79-4476-82c1-fb40ec9d8acd",
  "activeVersionId": "a891e744-3d79-4476-82c1-fb40ec9d8acd",
  "triggerCount": 0,
  "description": "Plans content distribution strategy and schedule across channels.",
  "settings": {},
  "meta": {
    "workflow_id": "CWF-520",
    "phase": "phase5",
    "vein": "publishing_vein",
    "purpose": "Upload executor (deferred).",
    "implementation_depth": "phase_deferred_stub",
    "owner_director": "narada",
    "next_workflow": "CWF-530",
    "canonical_file": "n8n/workflows/CWF-520.json",
    "wf900_error_route": "WF-900"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const distribution = {instance_id: 'DIST-' + Date.now(), artifact_family: 'distribution_plan_packet', schema_version: '1.0.0', producer_workflow: 'CWF-520', dossier_ref: $json.dossier_id, created_at: new Date().toISOString(), status: 'CREATED', payload: {distribution_plan_ready: true, channels_planned: ['youtube', 'blog', 'email', 'social'], publish_schedule: [{channel: 'youtube', publish_date: 'tomorrow_9am', priority: 1}, {channel: 'blog', publish_date: 'tomorrow_10am', priority: 2}, {channel: 'email', publish_date: 'tomorrow_11am', priority: 3}, {channel: 'social', publish_date: 'tomorrow_2pm', priority: 4}], cross_channel_strategy: 'synchronized_phased_rollout', resource_allocation: 'balanced'}};\nreturn [{ json: { ...$json, cwf520_result: { status: 'COMPLETED', distribution_plan_packet: distribution } } }];"
      },
      "id": "builder",
      "name": "Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const workflowId = 'CWF-520';\n  const defaultSkillMap = {\n    'CWF-610': 'M-185',\n    'CWF-620': 'M-200',\n    'CWF-630': 'M-215'\n  };\n  const skillId = $json.skill_id || defaultSkillMap[workflowId] || 'M-001';\n  const dossierId = $json.body?.dossier_id || $json.dossier_context?.dossier_id || $json.dossier_id || 'DOSSIER-UNSPECIFIED';\n\n  const payload = {\n    dossier_id: dossierId,\n    dossier_ref: dossierId,\n    workflow_id: workflowId,\n    workflow_ref: workflowId,\n    skill_id: skillId,\n    source_node: 'Skill Execution Node',\n    route_id: $json.body?.route_id || $json.route_id || $json.dossier_context?.route || null,\n    task: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || 'MISSION_CONTEXT_MISSING',\n    context: {\n      topic: $json.body?.topic || $json.body?.user_message || $json.body?.message || $json.topic || $json.user_message || $json.message || (($json.body?.mission_context || $json.mission_context) && (($json.body?.mission_context || $json.mission_context).normalized_topic || ($json.body?.mission_context || $json.mission_context).original_user_message)) || null,\n      mode: $json.body?.user_mode || $json.user_mode || $json.mode || 'creator', mission_context: $json.body?.mission_context || $json.mission_context || null\n    },\n    dossier: typeof $json.dossier === 'object' ? $json.dossier : {}\n  };\n\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://127.0.0.1:5002/operator/skill-runtime',\n    headers: { 'content-type': 'application/json' },\n    body: payload,\n    json: true,\n    timeout: 120000\n  });\n  if (result.status !== 'SUCCESS' || !result.runtime_packet) {\n    throw new Error(String(result.error || 'skill-runtime returned no runtime_packet'));\n  }\n\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: workflowId,\n        skill_id: skillId,\n        status: 'SUCCESS',\n        had_error: false,\n        error_message: '',\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: result.runtime_packet,\n      skill_execution_result: result.skill_execution_result || result,\n      runtime: { had_error: false, error_message: '' }\n    }\n  }];\n} catch (error) {\n  const message = String(error && error.message ? error.message : error);\n  return [{\n    json: {\n      ...$json,\n      phase8_runtime_probe: {\n        workflow_id: 'CWF-520',\n        skill_id: $json.skill_id || null,\n        status: 'ERROR',\n        had_error: true,\n        error_message: message,\n        timestamp: new Date().toISOString()\n      },\n      runtime_packet: null,\n      skill_execution_result: null,\n      runtime: { had_error: true, error_message: message }\n    }\n  }];\n}"
      },
      "id": "cwf_520_skill_runtime_probe_node",
      "name": "Skill Runtime Probe Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Skill Runtime Probe Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builder": {
      "main": [
        []
      ]
    },
    "Skill Runtime Probe Node": {
      "main": [
        [
          {
            "node": "Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}