archive_reference/n8n_full_environment_reference_20260518_v8/workflow_export_sanitized/Generate_cinematic_videos_with_OpenAI_Sora_and_uploadtourl_hosting_2__AqV6JbOCO2VAt0aE.json
{
  "id": "AqV6JbOCO2VAt0aE",
  "name": "Generate cinematic videos with OpenAI Sora and uploadtourl hosting 2",
  "active": false,
  "isArchived": true,
  "createdAt": "2026-05-05 19:04:42.144",
  "updatedAt": "2026-05-05 19:07:09",
  "versionId": "17328889-7687-42b7-b5cf-b06d5605f757",
  "activeVersionId": null,
  "triggerCount": 0,
  "description": null,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateId": "13752"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "content": "## 🎬 OpenAI Sora – Video Generation → Upload to URL\n\n**How it works:**\n1. Webhook receives a POST with `jobType`: **ecommerce** or **remix**\n2. **Route by Job Type** switch sends it down the correct pipeline\n3. A code node crafts the **Sora prompt** and submits the job via `POST /v1/video/generations`\n4. Sora is **async** — a **Wait → Poll → IF** loop checks status every 20 seconds\n5. When `status = succeeded`, an HTTP GET node **downloads the MP4 as binary**\n6. The binary is passed to the **n8n Upload to URL node** which PUTs the MP4 to your CDN\n7. A code node builds the **JSON response** with the public CDN URL\n\n**Credential needed:**\n`OpenAI Header Auth` — HTTP Header Auth\nHeader name: `Authorization`  ·  Value: `***REDACTED_POSSIBLE_SECRET***`\nSora access required: platform.openai.com (Tier 4/5 or enterprise)\n\n**Sora API endpoints used:**\n- Submit:  `POST https://api.openai.com/v1/video/generations`\n- Poll:    `GET  https://api.openai.com/v1/video/generations/{id}`\n- Download: video URL from completed response\n\n",
        "height": 580,
        "width": 740
      },
      "id": "a05ea6b6-03cd-4915-b716-2dd0b0b54e95",
      "name": "📋 Flow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 1️⃣ Webhook Entry & Job Router\n**Webhook – Receive Video Job** accepts a POST at `/sora-video-job` with `jobType` and generation parameters in the request body.\n**Route by Job Type Switch** reads `$json.body.jobType` and routes:\n- Output 0 `ecommerce` → Cinematic E-commerce pipeline\n- Output 1 `remix` → Social Media Remix pipeline\n- Fallback → **Respond – Error** returns a 400 JSON error",
        "height": 924,
        "width": 560,
        "color": 7
      },
      "id": "d3d90ba8-0ba0-41d0-941b-379b5034f085",
      "name": "Sticky – Entry & Routing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2️⃣ Cinematic E-commerce Walkthrough\n**Build E-commerce Prompt** constructs the Sora prompt: cinematic product reveal, 360° rotation, studio lighting, close-ups on key features, premium brand aesthetic. Injects `productName`, `duration` (10–20 s), `style`, and stamps a `jobId`.\n**Sora – Submit E-commerce Job** POSTs to `/v1/video/generations` with the prompt, `input_image` URL, duration and resolution `1080p`. Returns a `generation_id` immediately — Sora renders async.\n**Store E-commerce Job ID** code node carries `generationId` and all metadata forward.\n**Wait 20s** pauses execution while Sora renders.\n**Sora – Poll E-commerce Status** GETs `/v1/video/generations/{generationId}` to read the current status.\n**Check E-commerce Done IF** evaluates `$json.status`: `succeeded` → true branch (continue); anything else → false branch (loop back to Wait 20s).\n**Fetch E-commerce Video** HTTP GET downloads the MP4 binary from `$json.video_url`.\n**Upload to URL – E-commerce** is the **n8n built-in Upload to URL node** — PUTs the MP4 binary to your CDN presigned URL.\n**Build E-commerce Response** returns `{ publicUrl, productName, duration, jobId, generatedAt }`.\n**Respond to Webhook – E-commerce** sends JSON to caller.",
        "height": 500,
        "width": 2480,
        "color": 7
      },
      "id": "e1b88a43-f58c-4dfb-acf0-6355204a40b3",
      "name": "Sticky – E-commerce Pipeline",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3️⃣ Dynamic Social Media Remix\n**Build Remix Prompt** constructs the Sora prompt: transforms the source image into a `remixStyle` visual (e.g. cyberpunk, anime, golden hour), adds cinematic camera movement and `addEffect`. Sets `aspectRatio: 9:16` for Reels/TikTok, `1:1` for Feed. Duration fixed at 8 s. Stamps a `jobId`.\n**Sora – Submit Remix Job** POSTs to `/v1/video/generations` with `input_image`, prompt, duration 8 and platform-appropriate aspect ratio.\n**Store Remix Job ID** carries `generationId` and metadata forward.\n**Wait 20s** pauses while Sora renders.\n**Sora – Poll Remix Status** GETs the generation status endpoint.\n**Check Remix Done IF** evaluates status: `succeeded` → true; else → false loops back to Wait 20s.\n**Fetch Remix Video** downloads the MP4 binary from the completed response.\n**Upload to URL – Remix** is the **n8n built-in Upload to URL node** — PUTs the MP4 to your CDN.\n**Build Remix Response** returns `{ publicUrl, remixStyle, platform, aspectRatio, jobId, generatedAt }`.\n**Respond to Webhook – Remix** sends JSON to caller.",
        "height": 480,
        "width": 2480,
        "color": 7
      },
      "id": "3daf779d-1dd3-430c-b015-b361b60d3fbd",
      "name": "Sticky – Remix Pipeline",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sora-video-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "19282007-01ef-4021-9702-4a6f521ea0da",
      "name": "Webhook – Receive Video Job",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1040,
        1264
      ],
      "webhookId": "ff4f69df-7b44-47ed-b35e-fec4a7f23e03",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.jobType.toLowerCase() }}",
                    "rightValue": "ecommerce"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "E-commerce"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.jobType.toLowerCase() }}",
                    "rightValue": "remix"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Remix"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "aa7080f8-4aae-4f67-ba08-562f3d7e4180",
      "name": "Route by Job Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        1360,
        1264
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a66d6c39-f952-4303-b966-a7e7627e4a97",
      "name": "Respond – Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1376,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const b       = $json.body;\nconst product = b.productName     || 'Product';\nconst dur     = parseInt(b.duration || 15);\nconst style   = b.style           || 'premium product reveal';\nconst imgUrl  = b.productImageUrl || '';\nconst jobId   = `ECOM-${Date.now()}`;\nconst prompt  = `Cinematic ${dur}-second product video for ${product}. ` +\n  `Style: ${style}. Start with a dramatic reveal from black, ` +\n  `smoothly rotate the product 360 degrees under professional studio lighting, ` +\n  `close-up on key features with shallow depth of field, ` +\n  `end with the product centred on a clean white background. ` +\n  `4K quality, no text, premium commercial aesthetic.`;\nreturn [{ json: { prompt, product, duration: dur, style, productImageUrl: imgUrl, jobId } }];\n"
      },
      "id": "d1aaf53c-fa42-4eb4-bb77-42d3612824da",
      "name": "Build E-commerce Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        1664,
        1104
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/video/generations",
        "authentication": "***REDACTED_POSSIBLE_SECRET***",
        "genericAuthType": "***REDACTED_POSSIBLE_SECRET***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "70b20b5c-dd27-44e7-92ae-278c26bd2553",
      "name": "Sora – Submit E-commerce Job",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        1104
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Build E-commerce Prompt').item.json;\nconst genId = $json.id || $json.generation_id;\nif (!genId) throw new Error('No generation_id returned from Sora');\nreturn [{ json: { ...prev, generationId: genId } }];\n"
      },
      "id": "e305f297-4187-4df1-a6c7-85f8d60e01a5",
      "name": "Store E-commerce Job ID",
      "type": "n8n-nodes-base.code",
      "position": [
        2192,
        1104
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "a7a3bb94-30d6-4da2-932e-0f7c96f990cc",
      "name": "Wait 20s – E-commerce",
      "type": "n8n-nodes-base.wait",
      "position": [
        2432,
        1104
      ],
      "webhookId": "b6b93967-0377-47f6-a0a4-622486d4949a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/video/generations/{{ $json.generationId }}",
        "options": {}
      },
      "id": "6e696d0f-5dba-4c9d-ba98-7a0bb6ed5eea",
      "name": "Sora – Poll E-commerce Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2672,
        1104
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded"
            }
          ]
        },
        "options": {}
      },
      "id": "e13f76b5-6b3b-4386-b6cc-13c7bebeb947",
      "name": "Check E-commerce Done",
      "type": "n8n-nodes-base.if",
      "position": [
        2912,
        1104
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "={{ $json.video_url || $json.output?.url || $json.generations?.[0]?.url }}",
        "options": {}
      },
      "id": "afab4d94-8cc3-479c-8ff8-1f3ff6263bf6",
      "name": "Fetch E-commerce Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3152,
        1024
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const p = $('Build E-commerce Prompt').item.json;\nreturn [{ json: {\n  success: true, jobId: p.jobId, jobType: 'ecommerce',\n  productName: p.product, duration: p.duration, style: p.style,\n  publicUrl: `https://YOUR_CDN_DOMAIN/${p.jobId}.mp4`,\n  generatedAt: new Date().toISOString(),\n  note: 'Embed this MP4 URL directly in your Shopify/Meesho product listing.'\n}}];\n"
      },
      "id": "1ba3c0f3-a981-4bec-b377-5b4af8a1a192",
      "name": "Build E-commerce Response",
      "type": "n8n-nodes-base.code",
      "position": [
        3648,
        1024
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "ce0c666a-fde5-4e5a-b65f-b3932eb9e564",
      "name": "Respond to Webhook – E-commerce",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3888,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const b        = $json.body;\nconst style    = b.remixStyle     || 'cyberpunk';\nconst effect   = b.addEffect      || 'golden hour lighting';\nconst platform = (b.platform || 'reels').toLowerCase();\nconst srcImg   = b.sourceImageUrl || '';\nconst jobId    = `REMIX-${Date.now()}`;\nconst aspect   = ['reels','tiktok','story'].includes(platform) ? '9:16' : '1:1';\nconst dur      = 8;\nconst prompt   = `Transform this image into a ${dur}-second cinematic ${style} style video. ` +\n  `Apply ${effect} with smooth cinematic camera movement and dramatic transitions. ` +\n  `Vibrant colour grading, professional motion blur on cuts, ` +\n  `optimised for ${platform} vertical short-form format. No text overlays.`;\nreturn [{ json: { prompt, style, effect, platform, aspect, duration: dur, sourceImageUrl: srcImg, jobId } }];\n"
      },
      "id": "f371d4b1-a647-42b6-a007-756f60c4ca30",
      "name": "Build Remix Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        1664,
        1616
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/video/generations",
        "authentication": "***REDACTED_POSSIBLE_SECRET***",
        "genericAuthType": "***REDACTED_POSSIBLE_SECRET***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2549243b-f77b-4f20-bc13-8cffa7c586d5",
      "name": "Sora – Submit Remix Job",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1888,
        1616
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Build Remix Prompt').item.json;\nconst genId = $json.id || $json.generation_id;\nif (!genId) throw new Error('No generation_id returned from Sora');\nreturn [{ json: { ...prev, generationId: genId } }];\n"
      },
      "id": "434029b0-9ca9-4081-9760-5929a899632e",
      "name": "Store Remix Job ID",
      "type": "n8n-nodes-base.code",
      "position": [
        2192,
        1616
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "6cea91b0-5583-4062-8e74-e0de974d57af",
      "name": "Wait 20s – Remix",
      "type": "n8n-nodes-base.wait",
      "position": [
        2416,
        1616
      ],
      "webhookId": "e789a7a3-9db0-46c8-9e59-3ea88451799d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/video/generations/{{ $json.generationId }}",
        "options": {}
      },
      "id": "ccc8ec96-c821-46e7-a38e-58b2f4585e40",
      "name": "Sora – Poll Remix Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2688,
        1616
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded"
            }
          ]
        },
        "options": {}
      },
      "id": "7665ced7-b14a-4e64-a607-31b48ae3ab92",
      "name": "Check Remix Done",
      "type": "n8n-nodes-base.if",
      "position": [
        2928,
        1616
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "={{ $json.video_url || $json.output?.url || $json.generations?.[0]?.url }}",
        "options": {}
      },
      "id": "7beeb3d4-c4d7-474f-bfbc-5123c3d66cc7",
      "name": "Fetch Remix Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3168,
        1600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const p = $('Build Remix Prompt').item.json;\nreturn [{ json: {\n  success: true, jobId: p.jobId, jobType: 'remix',\n  remixStyle: p.style, effect: p.effect,\n  platform: p.platform, aspectRatio: p.aspect,\n  publicUrl: `https://YOUR_CDN_DOMAIN/${p.jobId}.mp4`,\n  generatedAt: new Date().toISOString(),\n  note: 'Post this URL directly to TikTok/Reels via their upload API.'\n}}];\n"
      },
      "id": "9bddd891-bcc3-4321-8f84-43c087f514fc",
      "name": "Build Remix Response",
      "type": "n8n-nodes-base.code",
      "position": [
        3616,
        1600
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a8fcc0ba-1093-4fe8-8718-98947247d385",
      "name": "Respond to Webhook – Remix",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3872,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "23ee271e-8b4f-46a1-875a-81d18e259f21",
      "name": "Upload to URL",
      "type": "n8n-nodes-uploadtourl.uploadToUrl",
      "position": [
        3408,
        1024
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "41c3168b-2bb4-4e41-a8d2-bb7fce5f45b0",
      "name": "Upload to URL1",
      "type": "n8n-nodes-uploadtourl.uploadToUrl",
      "position": [
        3392,
        1600
      ],
      "typeVersion": 1,
      "credentials": {}
    }
  ],
  "connections": {
    "Upload to URL": {
      "main": [
        [
          {
            "node": "Build E-commerce Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to URL1": {
      "main": [
        [
          {
            "node": "Build Remix Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Remix Done": {
      "main": [
        [
          {
            "node": "Fetch Remix Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s – Remix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Remix Video": {
      "main": [
        [
          {
            "node": "Upload to URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Job Type": {
      "main": [
        [
          {
            "node": "Build E-commerce Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Remix Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond – Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Remix Prompt": {
      "main": [
        [
          {
            "node": "Sora – Submit Remix Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Remix Job ID": {
      "main": [
        [
          {
            "node": "Wait 20s – Remix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s – Remix": {
      "main": [
        [
          {
            "node": "Sora – Poll Remix Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Remix Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook – Remix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check E-commerce Done": {
      "main": [
        [
          {
            "node": "Fetch E-commerce Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s – E-commerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch E-commerce Video": {
      "main": [
        [
          {
            "node": "Upload to URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build E-commerce Prompt": {
      "main": [
        [
          {
            "node": "Sora – Submit E-commerce Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store E-commerce Job ID": {
      "main": [
        [
          {
            "node": "Wait 20s – E-commerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s – E-commerce": {
      "main": [
        [
          {
            "node": "Sora – Poll E-commerce Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build E-commerce Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook – E-commerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora – Submit Remix Job": {
      "main": [
        [
          {
            "node": "Store Remix Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora – Poll Remix Status": {
      "main": [
        [
          {
            "node": "Check Remix Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook – Receive Video Job": {
      "main": [
        [
          {
            "node": "Route by Job Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora – Submit E-commerce Job": {
      "main": [
        [
          {
            "node": "Store E-commerce Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora – Poll E-commerce Status": {
      "main": [
        [
          {
            "node": "Check E-commerce Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}