archive_reference/n8n_full_environment_reference_20260518_v8/workflow_export_sanitized/Generate_text_images_from_the_Free_DummyJSON_API_using_the_HTTP_request_node_2__VwsCYZg1glcyamPH.json
{
  "id": "VwsCYZg1glcyamPH",
  "name": "Generate text images from the Free DummyJSON API using the HTTP request node 2",
  "active": false,
  "isArchived": true,
  "createdAt": "2026-05-05 20:01:55.750",
  "updatedAt": "2026-05-05 20:11:00",
  "versionId": "76d6276a-450f-40f9-ac63-b7cd3571786b",
  "activeVersionId": null,
  "triggerCount": 0,
  "description": null,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateId": "2990"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {},
      "id": "0a657f21-f0fe-4521-be7f-aa245f86f5d3",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://dummyjson.com/image/{{ $json.size }}/{{ $json.backgroundColor }}/{{ $json.textColor }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "fontSize",
              "value": "={{ $json.fontSize }}"
            },
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "fontFamily",
              "value": "={{ $json.fontFamily }}"
            }
          ]
        },
        "options": {}
      },
      "id": "54ead951-03fb-4741-9e66-bffa0ff42302",
      "name": "Fetch Image from API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        816,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25b4c572-4ba6-4719-b547-8d3787ba557b",
              "name": "size",
              "type": "string",
              "value": "600x400"
            },
            {
              "id": "a6689fdb-b212-4c88-b80f-64aabe61daa1",
              "name": "backgroundColor",
              "type": "string",
              "value": "cc22e3"
            },
            {
              "id": "f9dcc452-4dd5-46fc-948b-39194bf0637d",
              "name": "textColor",
              "type": "string",
              "value": "ffffff"
            },
            {
              "id": "89842462-d3ac-4267-a40a-3e98e8823ef3",
              "name": "text",
              "type": "string",
              "value": "Generated!"
            },
            {
              "id": "59eb064d-1cc3-4b7d-92ec-594dadbd38cd",
              "name": "fontSize",
              "type": "string",
              "value": "100"
            },
            {
              "id": "ccbae0db-559a-4de2-be63-4238feca6498",
              "name": "fontFamily",
              "type": "string",
              "value": "pacifico"
            },
            {
              "id": "ab88695a-d223-4f26-9ded-3e4c965ca28c",
              "name": "type",
              "type": "string",
              "value": "png"
            }
          ]
        },
        "options": {}
      },
      "id": "9b60f208-7bbc-4c35-9303-797aabef478d",
      "name": "Set Image Properties",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        240
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Set Image Properties": {
      "main": [
        [
          {
            "node": "Fetch Image from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Image Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}