archive_reference/n8n_full_environment_reference_20260518_v8/workflow_export_sanitized/WF_950_Gemini_Credential_Smoke_Test__WF950GemSmkTst01.json
{
  "id": "WF950GemSmkTst01",
  "name": "WF-950 Gemini Credential Smoke Test",
  "active": false,
  "isArchived": false,
  "createdAt": "2026-05-11 08:11:09.660",
  "updatedAt": "2026-05-11 08:11:09.660",
  "versionId": "31fd3642-1c50-4433-ac1a-292b5fa9e952",
  "activeVersionId": null,
  "triggerCount": 0,
  "description": null,
  "settings": {},
  "meta": {},
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { prompt: 'Return a JSON object with provider_used, model_used, credential_path, test_status, one_sentence_result. Respond with valid JSON only.' } }];"
      },
      "id": "prepare_prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        260
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{$json.prompt}}",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "jsonOutput": false,
        "options": {
          "maxOutputTokens": "***REDACTED_POSSIBLE_SECRET***",
          "temperature": 0.2
        }
      },
      "id": "gemini_node",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        700,
        260
      ],
      "credentials": {
        "googlePalmApi": "***REDACTED_CREDENTIAL_REFERENCE***"
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $json || {};\nconst text = typeof r.output === 'string' ? r.output : (typeof r.text === 'string' ? r.text : JSON.stringify(r));\nreturn [{ json: { workflow_id: 'WF-950 Gemini Credential Smoke Test', credential_name: 'Google Gemini(PaLM) Api account', credential_type: 'googlePalmApi', provider_used: 'gemini', model_used: 'models/gemini-2.5-flash', response_text_present: !!(text && String(text).trim().length > 0), status: (text && String(text).trim().length > 0) ? 'pass' : 'fail', one_sentence_result: String(text).slice(0, 400) } }];"
      },
      "id": "normalize",
      "name": "Normalize Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        260
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Normalize Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}