n8n/non_shadow_workflows/Create_AI_personalized_video_voice_outreach_with_HeyGen_ElevenLabs_Perplexity__B3QtC5lPGtnPkyJR.json
{
  "id": "B3QtC5lPGtnPkyJR",
  "name": "Create AI personalized video & voice outreach with HeyGen, ElevenLabs & Perplexity",
  "active": false,
  "isArchived": false,
  "createdAt": "2026-05-05 19:20:08.497",
  "updatedAt": "2026-05-05 20:19:32.394",
  "versionId": "5f6a9944-9a88-4365-a658-6cdda1abb27c",
  "triggerCount": 0,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_YOUR_SHEET_ID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_YOUR_SHEET_ID/edit",
          "cachedResultName": "Leads"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_YOUR_SHEET_TAB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_YOUR_SHEET_ID/edit#REPLACE_WITH_YOUR_SHEET_TAB",
          "cachedResultName": "Sheet1"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "657bc2dd-01f2-4292-acd1-d447c3a63283",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        1280,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Full Name:{{ $json.Name }}\nEmail Address:{{ $json['Email Address'] }}\nPhone Number: {{ $json['Phone Number'] }}\nCompany:{{ $json.Company }}\nIndustry: {{ $json.Industry }}\nLinkedIn Profile: {{ $json['LinkedIn URL'] }}\n",
        "options": {
          "systemMessage": "=You are Outbound Research Agent for Purple Unicorn, an influencer marketing agency.\nYour mission: Use Preplexity Tool to research the assigned prospect and return insights that equip the sales team to personalize highly relevant outreach.\n\nYou will be given the following input about the lead:\nFull Name, Email Address, Phone Number, Company Name, Industry, Linked URL\n\nYour responsibilities:\n\nUsing Perplexity Tool: \n\nResearch the PERSON\n\nCurrent role & main responsibilities\n\nRecent achievements, interviews, social activity, thought-leadership topics\n\nInterests related to content, influencers, social media, brand building\n\nResearch the COMPANY\n\nWhat they sell, who they serve, and main value propositions\n\nRecent news, campaigns, marketing strategy insights (especially digital/influencer)\n\nGrowth signals: funding, hiring trends, product launches\n\nCurrent presence on Instagram / TikTok / YouTube / LinkedIn if available\n\nIdentify OPPORTUNITIES\n\nWhere influencer marketing could help:\n\nIncrease brand awareness\n\nImprove social engagement & conversions\n\nModernize outdated marketing approach\n\nExample influencers or campaign angles aligned to their industry/customer base\n\nExtract TRIGGERS\n\nWhat makes this lead worth contacting right now\n\nTie insights directly to Purple Unicorn’s value (high-ROI influencer campaigns)\n\nTone & Format Requirements:\n\nBe accurate, concise, and compelling\n\nNo fluff, no generic statements\n\nUse bullet points and short actionable sentences\n\nInclude 3–5 customized outreach hooks that the SDR can directly use\n\nKeep strict data integrity — state only verifiable insights\n\nOutput Format (always follow this structure)\n\nProspect Overview\n\nName: …\n\nRole: …\n\nKey interests: …\n\nCompany Overview\n\nWhat they do: …\n\nTarget customers: …\n\nMarketing status: …\n\nOpportunities for Influencer Marketing (Purple Unicorn)\n\n…\n\nSales Triggers\n\n…\n\n3–5 Personalized Outreach Hooks\n\n…\n\n…\n\n…"
        }
      },
      "id": "bba9b597-557a-49b5-9eb5-09fe7cc0b9f9",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1808,
        336
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "id": "9452861e-a74c-45bf-8ef5-905c04172888",
      "name": "Message a model in Perplexity",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        1872,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=You are Script Writing Agent for Marc from Purple Unicorn, an influencer marketing agency. \n\nYou will receive research insights about a single prospect and their company.\nYour job is to write a personalized 30-second outreach script for narration by an AI video avatar.\n\nRequirements:\n\nTone & Voice\n\nCasual, confident, and friendly\n\nSounds like a real human talking — no corporate jargon\n\nPersonalized references based on the provided research (THIS IS CRITICAL)\n\nFocus on building curiosity and interest, not hard selling\n\nContent Rules\n\nIntro with the prospect’s name and what caught our attention about their work or company\n\nBriefly connect Purple Unicorn’s influencer marketing expertise to their goals or current marketing status\n\nMention 1–2 specific opportunities or triggers discovered in research\n\nEnd with a light, non-pushy call to chat (“worth a quick convo?”)\n\nOutput Format\n\nOnly return the script as plain text (no bullet points or explanations)\n\n4–6 short conversational paragraphs\n\nTotal read time: ~30 seconds (80–110 words)\n\nProhibited\n\nNo email-style formatting (no subject lines, no signatures)\n\nNo emojis\n\nNo generic filler like “I hope you’re well”\n\nNo unverified claims\n\nExample structure (for reference — do not include in output)\n\nHi [Name], loved your work on…\nNoticed your company is pushing into…\nAt Purple Unicorn, we help brands like yours…\nThought we could explore…\nUp for a quick chat?\n\nStay focused on making the prospect feel seen, understood, and excited enough to respond.\n\n##Output rule\nOutput only valid text format without special characters to make sure that it will be a valid JSON input in the next node"
        }
      },
      "id": "a191cb19-4d54-4ccf-8489-733acbbb6a96",
      "name": "Scripting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2240,
        336
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"video_inputs\": [\n      {\n        \"character\": {\n          \"type\": \"avatar\",\n          \"avatar_id\": \"c84a546eb24e496da33673c336624d1c\",\n          \"avatar_style\": \"normal\"\n        },\n        \"voice\": {\n          \"type\": \"text\",\n          \"input_text\": $json.output,\n          \"voice_id\": \"e690edf698c043409a59fbfc5175c4b1\",\n          \"speed\": 1.1\n        }\n      }\n    ],\n    \"dimension\": { \"width\": 720, \"height\": 1280 }\n  }\n}}",
        "options": {}
      },
      "id": "4cb305d9-0838-4d74-8665-4f948e11b626",
      "name": "Heygen Clone AI Creation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2800,
        336
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "sendTo": "user@example.com",
        "subject": "={{ $json.output.title }}",
        "emailType": "text",
        "message": "={{ $json.output.body }}\n\nListen my quick assessment of your business:\n{{ $('GET Result').item.json.data.video_url }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "2526777e-d184-4ffa-96df-581a3899cf24",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3872,
        336
      ],
      "typeVersion": 2.1,
      "webhookId": "2bdb844a-c6d3-463d-943c-92096137e8ee"
    },
    {
      "parameters": {
        "from": "REPLACE_PHONE",
        "to": "REPLACE_PHONE",
        "message": "={{ $json.webContentLink }}",
        "options": {}
      },
      "id": "76a46ccd-e1f9-4022-a18e-9f760436dff9",
      "name": "Send an SMS/MMS/WhatsApp message",
      "type": "n8n-nodes-base.twilio",
      "position": [
        3152,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// \"items\" is an array of all rows coming from Google Sheets\n// We only want the latest one (usually the last item in the array)\n\nif (items.length === 0) {\n\treturn [];\n}\n\n// Take the last item (most recently added row)\nconst lastItem = items[items.length - 1];\n\n// Return it as a single-item array so n8n can continue as usual\nreturn [lastItem];\n"
      },
      "id": "f0741d59-b5d6-4578-b24f-7ddf91527788",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        1472,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {
          "timeout": 6000000
        }
      },
      "id": "f75ff906-4b9f-4cc8-8384-60bc6f2d4e6d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1680,
        544
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "openai/gpt-5.1",
        "options": {}
      },
      "id": "55a89042-e5ac-4c20-bb54-60e0400ab684",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        2208,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "voice": {
          "__rl": true,
          "mode": "id",
          "value": "UEKYgullGqaF0keqT8Bu"
        },
        "resource": "speech",
        "requestOptions": {},
        "additionalOptions": {}
      },
      "id": "b9cab21d-8851-4e36-90fb-9f8bdc5d3d71",
      "name": "Convert text to speech",
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "position": [
        2720,
        672
      ],
      "typeVersion": 1,
      "credentials": "***REDACTED_CREDENTIAL_REFERENCE***"
    },
    {
      "parameters": {
        "name": "Audio",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_YOUR_FOLDER_ID",
          "cachedResultUrl": "https://drive.google.com/drive/folders/REPLACE_WITH_YOUR_FOLDER_ID",
          "cachedResultName": "n8n Folder"
        },
        "options": {}
      },
      "id": "d27df0a6-1151-443a-86c0-28592890c5a4",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2928,
        672
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "Intro Video Generation + Send to Email",
        "height": 288,
        "width": 1536,
        "color": 6
      },
      "id": "54f9ad85-bc0d-4f02-9c30-8168060bba3f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Voice Generation and Text",
        "height": 288,
        "width": 752,
        "color": 4
      },
      "id": "7c816c51-b4fe-47e7-8b50-a6ba687ff359",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Research & Script",
        "height": 624,
        "width": 960,
        "color": 4
      },
      "id": "70dcb589-3e92-41f7-9208-1c3afd6a7f71",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "0f2d716c-7aa0-441c-936c-c4f3cc1674d3",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "position": [
        3008,
        336
      ],
      "typeVersion": 1.1,
      "webhookId": "09eab3e4-5588-4c91-b466-d63f31b463d0"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9364537a-8917-43ab-b9c2-12ceec88d1c0",
      "name": "GET Result",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3216,
        336
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Research Agent').item.json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Outreach Email Copywriter Agent for Purple Unicorn Marketing Agency.\nYour task is to generate one short and personalized outbound email for each prospect.\n\nRequirements:\n\nYou will receive prospect details in the user input\n\nUse their company information or recent updates to personalize the message\n\nThe email must reference a personalized intro video included in the outreach\n\nMarc from Purple Unicorn Agency is the sender\n\nTone: friendly, clear, and value-led\n\nKeep it short and impactful (no long paragraphs)\n\nSTRICT Output Format\n\nYou must output valid JSON only, with exactly two properties:\n\n{\n  \"title\": \"A short, attention-grabbing subject line\",\n  \"body\": \"Email body text here. Keep paragraphs short and include a reference to the personalized video.\"\n}\n\n\nMandatory rules\n\nNo additional text outside the JSON\n\nNo markdown formatting\n\nNo emojis\n\nNo explanations or annotations\n\nIf the required information is insufficient, use placeholders rather than adding commentary\n\nIf your output does not strictly match the JSON structure above, it will be considered incorrect."
        }
      },
      "id": "aa799380-8601-4d87-a2a2-f8e47fee29cb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3424,
        336
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "f236ceb1-bb32-4058-af83-0b079263f7cf",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3392,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"…\",\n  \"body\": \"…\"\n}\n",
        "autoFix": true
      },
      "id": "06c9c350-5107-45dc-bf89-8df081dda40f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3600,
        544
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "a7abfece-d384-40f7-8c1a-a48609a6ce73",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3536,
        752
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "height": 624,
        "width": 368,
        "color": 7
      },
      "id": "64bb87e2-5094-44b9-a0e3-a9c4d0805f66",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "What this Workflow Does\n\nAutomates the creation of hyper-personalized outreach videos, voice notes, and emails whenever a new lead is added to Google Sheets.\n\nWatch step-by-step tutorial of this build here: https://www.youtube.com/watch?v=q9AAh9zRou4\n\nIt performs:\nLead Intake (Google Sheets Trigger → Latest Row Extractor)\nDeep AI Research (Perplexity + Research Agent)\nPersonalized Scriptwriting (Script Agent)\nHeyGen Video Generation\nElevenLabs Voice Note Generation\nUpload Audio to Google Drive\nEmail Delivery (video + voice note + personalized email)\nOptional SMS/WhatsApp Message via Twilio\n\nHigh-Level Flow\nGoogle Sheets → Research → Script → Video → Voice → Drive → Email/SMS\n\nNode Lane Explanations\n\nResearch & Script Lane\nCode Node: grabs latest lead from the sheet\nResearch Agent: uses Perplexity to gather insights\nScript Agent: creates a 30-sec personalized outreach script\nOpenAI/OpenRouter models: support research + script consistency\nVideo Generation Lane\nHeyGen Request: creates avatar video based on script\nWait → GET Result: polls until video is ready\nAI Email Agent: generates JSON email (subject + body referencing video)\nVoice & Upload Lane\nElevenLabs: converts script or summary to voice note\nGoogle Drive Upload: stores voice file\nTwilio (optional): sends voice note link via SMS/WhatsApp\nEmail Output\nGmail Node: sends the outreach email + video link + voice note link to your inbox\n\nPurpose\nCreate SDR-ready, highly-personalized outreach assets using AI — end-to-end automated.",
        "height": 816,
        "width": 800
      },
      "id": "7f7bc175-94e8-4a40-9b58-c875fd196c8d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "@[youtube](q9AAh9zRou4)",
        "height": 368,
        "width": 688
      },
      "id": "8eaee9ef-0431-40e6-8ddb-6937d0fa05a2",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -160
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "GET Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Result": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Scripting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scripting Agent": {
      "main": [
        [
          {
            "node": "Heygen Clone AI Creation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scripting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heygen Clone AI Creation": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "export_class": "NON_SHADOW_TEMPLATE_SUPPORT",
    "expected_title_match": "Create AI personalized video & voice outreach with HeyGen, ElevenLabs & Perplexity",
    "match_mode": "exact",
    "credential_data_exported": false,
    "execution_data_exported": false,
    "binary_data_exported": false
  }
}