n8n/non_shadow_workflows/Generate_custom_AI_videos_with_Digital_Avatars_using_HeyGen_API__ckaieD5tNs2pgplr.json
{
  "id": "ckaieD5tNs2pgplr",
  "name": "Generate custom AI videos with Digital Avatars using HeyGen API",
  "active": false,
  "isArchived": false,
  "createdAt": "2026-05-05 20:05:56.539",
  "updatedAt": "2026-05-05 20:12:57.248",
  "versionId": "6fb01430-79a9-485d-b35c-a767b7782109",
  "triggerCount": 0,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.AvatarId ?? \"Amy_standing_outdoor_side\"}}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.full_script }}\",\n        \"voice_id\": \"{{ $json.HeygenVoiceId ?? '26b2064088674c80b1e5fc5ab1a068eb' }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#000000\"\n      }\n    }\n],\n  \"dimension\": {\"width\": \"340\",\"height\": \"340\"}\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "97dcf679-2312-4f61-aff2-ca1fe05ed94b",
      "name": "HeyGen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        768,
        720
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "660db08f-5b5c-4fd0-aa3b-660619108a1a",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "position": [
        1072,
        704
      ],
      "webhookId": "d2c37f01-834e-40d3-888e-6e7e4296f474",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('HeyGen').first().json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "32126f57-2d00-465a-a642-3fbecd96943d",
      "name": "HeyGen : Check Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1296,
        704
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "46dfa599-fe04-4b32-8d15-09e963099737",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.data.status == 'processing' || $json.data.status == 'pending' || $json.data.status == 'waiting' }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "22c93926-40a2-49ef-b8f0-aa718da00792",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "failed"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {}
      },
      "id": "157b890c-9684-4695-b110-5a94cc044ccd",
      "name": "heygen_response",
      "type": "n8n-nodes-base.switch",
      "position": [
        1600,
        688
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "## HeyGen APi generate Video",
        "height": 80,
        "width": 390
      },
      "id": "a4fe631d-58df-4760-9d25-22199f3a6530",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AdamCrafts\n\nHey there! I'm Adam. 🚀 I specialize in helping people master n8n, land their first client, and scale their automation business efficiently. Let's automate your success!\n\n## Need Help? 📞\n Detailed documentation included in the workflow package covers advanced configuration options and optimization techniques.\n\n\n❤️ Buy more workflows at: [adamcrafts](https://adamcrafts.cloudysoftwares.com)\n🦾 Custom workflows at: [adamcrafts@cloudysoftwares.com](mailto:adamcrafts@cloudysoftwares.com)\n[adamaicrafts@gmail.com](mailto:adamaicrafts@gmail.com)",
        "height": 380,
        "width": 500
      },
      "id": "7867d3bd-d03c-41b3-909b-b1a6540023a7",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wait4": {
      "main": [
        [
          {
            "node": "HeyGen : Check Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "heygen_response": {
      "main": [
        [],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen : Check Video": {
      "main": [
        [
          {
            "node": "heygen_response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "export_class": "NON_SHADOW_TEMPLATE_SUPPORT",
    "expected_title_match": "Generate custom AI videos with Digital Avatars using HeyGen API",
    "match_mode": "exact",
    "credential_data_exported": false,
    "execution_data_exported": false,
    "binary_data_exported": false
  }
}